//PT Serif Bold
@font-face {
    font-family: 'PT Serif Bold';
    src: local('PT Serif Bold'), local('PTSerif-Bold'), url('../fonts/ptserifbold.woff2') format('woff2'), url('../fonts/ptserifbold.woff') format('woff'), url('../fonts/ptserifbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

//Open Sans Refular
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

//Open Sans Bold
@font-face {
    font-family: 'Open Sans Bold';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensansbold.woff2') format('woff2'), url('../fonts/opensansbold.woff') format('woff'), url('../fonts/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

//Open Sans Italic
@font-face {
    font-family: 'Open Sans Italic';
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/opensansitalic.woff2') format('woff2'), url('../fonts/opensansitalic.woff') format('woff'), url('../fonts/opensansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

//Open Sans Bold Italic
@font-face {
    font-family: 'Open Sans Bold Italic';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/opensansbolditalic.woff2') format('woff2'), url('../fonts/opensansbolditalic.woff') format('woff'), url('../fonts/opensansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
