body {
    font-family: $sans;
    font-size: $standart;
    background: $color-bg;
    color: $color-dark;
    fill: $color-dark;
    outline: none;
    overflow-x: hidden;
}
// ::-webkit-scrollbar {
//     width: 17px;
//     height: 2em
// }
// ::-webkit-scrollbar-button {
//     background: $color-dark;
// }
// ::-webkit-scrollbar-track-piece {
//     background: $color-light;
// }
// ::-webkit-scrollbar-thumb {
//     background: $color-dark;
// }​
.preload {
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    font-weight: 100;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
sup {
  font-size: $small;
}
a {
  text-decoration: none;
  color: $color-dark;
}

svg {
    fill: $color-dark;
    alignment-baseline: middle;
 }

svg use { pointer-events:none; }

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
