// |----------------------------------------------------|
// |---------------------BLOGS--------------------------|
// |----------------------------------------------------|

// |----------------- BLOGS>TITLE-----------------------|
section.blogs-title
    .container-fluid
        .row
            .col-lg-1
            .col-lg-10
                include ./categories/blogs-title.jade
            .col-lg-1
