// |----------------------------------------------------|
// |-----------------  HEADER LINE    ------------------|
// |----------------------------------------------------|
header.header
    // |----------------------------------------------------|
    // |-----------------    SLIDER    ---------------------|
    // |----------------------------------------------------|
    .material.news-item.news-item--slider.news-item--big
        .news-item__slider.owl-carousel.owl-theme
            .item 
                a(href="modal-news.html" class="modal-ajax")
                    .news-item__image-wrap
                        div(style="background-image: url('img/urban.jpg')").news-item__image
                    .news-item__overlay
                    .news-item__title В Івано-Франківську пройде фестиваль крафтового пива та встановлять “велореанімацію”
                    .social-meta
                        .social-meta__views
                            svg.social-meta__icon.social-meta__icon--views
                                use(xlink:href="img/svg-sprites/sprite.svg#icon-views")
                            span.social-meta__count-views 122200
                        .social-meta__comments
                            svg.social-meta__icon.social-meta__icon--comments
                                use(xlink:href="img/svg-sprites/sprite.svg#icon-comments")
                            span.social-meta__count-comments 5
            .item
                a(href="modal-news.html" class="modal-ajax")
                    .news-item__image-wrap
                        div(style="background-image: url('img/marafon.jpg')").news-item__image
                    .news-item__overlay
                    .news-item__title Організатори Frankivsk Half Marathon’16 запрошують на третій кольоровий забіг – Color Run
                    .social-meta
                        .social-meta__views
                            svg.social-meta__icon.social-meta__icon--views
                                use(xlink:href="img/svg-sprites/sprite.svg#icon-views")
                            span.social-meta__count-views 223
                        .social-meta__comments
                            svg.social-meta__icon.social-meta__icon--comments
                                use(xlink:href="img/svg-sprites/sprite.svg#icon-comments")
                            span.social-meta__count-comments 3
            .item
                a(href="modal-news.html" class="modal-ajax")
                    .news-item__image-wrap
                        div(style="background-image: url('img/wedding.jpg')").news-item__image
                    .news-item__overlay
                    .news-item__title Один із найзавидніших наречених Івано-Франківська одружився (ФОТО)
                    .social-meta
                        .social-meta__views
                            svg.social-meta__icon.social-meta__icon--views
                                use(xlink:href="img/svg-sprites/sprite.svg#icon-views")
                            span.social-meta__count-views 223
                        .social-meta__comments
                            svg.social-meta__icon.social-meta__icon--comments
                                use(xlink:href="img/svg-sprites/sprite.svg#icon-comments")
                            span.social-meta__count-comments 3
                        
    // |----------------------------------------------------|
    // |-----------------    BANNER    ---------------------|
    // |----------------------------------------------------|                
    .material.news-item.news-item--banner.news-item--long.btn-click
        .news-item__image-wrap
            div(style="background-image: url('img/superman.jpg')").news-item__image
        
