// |----------------------------------------------------|
// |-------------SERVICES/HISTORY/CITY-REVIEW-----------|
// |----------------------------------------------------|
section.minimize-materials
    .container-fluid.container--minimize-materials
        .row
            
            .col-lg-4.col-md-6
                include ./categories/services-title.jade
                include ./categories/services.jade
            .col-lg-4.col-md-6
                include ./categories/history-title.jade
                include ./categories/history.jade
            .col-lg-4.col-md-6
                include ./categories/city-review-title.jade
                include ./categories/city-review.jade
            
