// |----------------------------------------------------|
// |-----------------  LATEST NEWS    ------------------|
// |----------------------------------------------------|
section.latest-news
    .material-sizer  

    include ./materials-modifiers/in.jade
    include ./materials-modifiers/in--long+mirror.jade
    include ./materials-modifiers/in--long.jade
    include ./materials-modifiers/in--mirror.jade
        
    // |----------------------------------------------------|
    // |-----------------   ITEMS (SIMPLE NEWS) ------------|
    // |----------------------------------------------------|
    - for (var x = 1; x < 10; x++)
        include ./materials-modifiers/in.jade
