// |----------------------------------------------------|
// |-----------------  PHOTOREPORTS---------------------|
// |----------------------------------------------------|

// |----------------- PHOTOREPORTS>TITLE----------------|
section.photoreports-title
    .container-fluid
        .row
            .col-lg-1
            .col-lg-10
                include ./categories/photoreports-title.jade
            .col-lg-1
