// |------------------PHOTOREPORTS>ITEMS-----------------|
section.photoreports
    .material-sizer
    -for(var i=0; i<4; i++)        
        include ./materials-modifiers/in--photoreports.jade
