// |----------------------------------------------------|
// |-----------------  TOP MATERIALS ITEMS -------------|
// |----------------------------------------------------|
section.not-found
    .not-found__text За вашим запитом нічого не знайдено. Спробуйте будь ласка інше слово
    .not-found__image(style="background: url('img/sad_man.png')")
section.search-section

    .material-sizer
        // |----------------------------------------------------|
        // |----------------- PHOTO ITEM---------- -------------|
        // |----------------------------------------------------|
        include ./materials-modifiers/in--photoreports.jade
                        
        // |----------------------------------------------------|
        // |----------------- VIDEO ITEM---------- -------------|
        // |----------------------------------------------------|            
        include ./materials-modifiers/in--videointerviews.jade
                        
        // |----------------------------------------------------|
        // |----------------- BLOGS ITEM---------- -------------|
        // |----------------------------------------------------|            
        include ./materials-modifiers/in--blogs.jade
                        
        // |----------------------------------------------------|
        // |----------------- SIMPLE NEW ITEM----- -------------|
        // |----------------------------------------------------|  
        include ./materials-modifiers/in.jade  
        
        
        // |----------------------------------------------------|
        // |----------------- ITEM LONG + MIRROR ---------------|
        // |----------------------------------------------------|  
        include ./materials-modifiers/in--long+mirror.jade
        
        -for(var i=0; i<2; i++)
            include ./materials-modifiers/in.jade
            include ./materials-modifiers/in--long.jade
            include ./materials-modifiers/in.jade
            include ./materials-modifiers/in--blogs.jade
            include ./materials-modifiers/in.jade
            include ./materials-modifiers/in--mirror.jade
            include ./materials-modifiers/in--long+mirror.jade
            include ./materials-modifiers/in.jade
