// |----------------------------------------------------|
// |-----------------  TOP MATERIALS TITLE -------------|
// |----------------------------------------------------|
section.top-materials-title
    .container-fluid
        .row
            .col-lg-1
            .col-lg-10
                include ./categories/top-materials-title.jade
            .col-lg-1
