// |----------------------------------------------------|
// |-----------------  TOP MATERIALS ITEMS -------------|
// |----------------------------------------------------|
section.top-materials
    .material-sizer
        // |----------------------------------------------------|
        // |----------------- PHOTO ITEM---------- -------------|
        // |----------------------------------------------------|
        include ./materials-modifiers/in--photoreports.jade
                        
        // |----------------------------------------------------|
        // |----------------- VIDEO ITEM---------- -------------|
        // |----------------------------------------------------|            
        include ./materials-modifiers/in--videointerviews.jade
                        
        // |----------------------------------------------------|
        // |----------------- BLOGS ITEM---------- -------------|
        // |----------------------------------------------------|            
        include ./materials-modifiers/in--blogs.jade
                        
        // |----------------------------------------------------|
        // |----------------- SIMPLE NEW ITEM----- -------------|
        // |----------------------------------------------------|  
        include ./materials-modifiers/in.jade  


        // |----------------------------------------------------|
        // |----------------- ITEM LONG + MIRROR ---------------|
        // |----------------------------------------------------|  
        include ./materials-modifiers/in--long+mirror.jade
        
        -for(var i=0; i<2; i++)
            include ./materials-modifiers/in.jade
            include ./materials-modifiers/in--long.jade
            include ./materials-modifiers/in.jade
            include ./materials-modifiers/in--blogs.jade
            include ./materials-modifiers/in.jade
            include ./materials-modifiers/in--mirror.jade
            include ./materials-modifiers/in--long+mirror.jade
            include ./materials-modifiers/in.jade
