// |----------------------------------------------------|
// |-----------------  VIDEOREPORTS---------------------|
// |----------------------------------------------------|

// |----------------- VIDEOREPORTS>TITLE----------------|
section.videointerviews-title
    .container-fluid
        .row
            .col-lg-1
            .col-lg-10
                include ./categories/videointerviews-title.jade
            .col-lg-1
