// |----------------------------------------------------|
// |-----------------    VIEW MORE    ------------------|
// |----------------------------------------------------|
section#view-more-news.view-more
    .view-more__wrap
        .view-more__text Показати ще
        svg.view-more__plus
            line(x1="18" y1="13" x2="18" y2="23").view-more__line-v
            line(x1="13" y1="18" x2="23" y2="18").view-more__line-h
