@media #{$screen} {
    // |----------------------------------------------------|
    // |--------------    SORT ITEMS HOVER   ---------------|
    // |----------------------------------------------------|
    .category-wrap {
        width: auto;
        text-align: left;
    }
    .category__sort-wrap {
        position: relative;
        top: 10px;
        display: inline-block;
    }

    .category__sort-item {
        margin: 0 5px;
    }
    // |----------------------------------------------------|
    // |--------------    SORT ITEMS HOVER   ---------------|
    // |----------------------------------------------------|
    .category__sort-item:hover {
        background: $color-blue;
        .category__item-name {
            color: $color-light;
        }
    }


    // |----------------------------------------------------|
    // |--------------    CATEGORY__LINK_HOVER--------------|
    // |----------------------------------------------------|
    .category__link-wrap:hover {
        .category__plus {
            transform: rotate(90deg);
        }
    }
}
