@media #{$iPhone} {
    .category-wrap {
        position: relative;
        margin: 30px 0;
        width: 100%;
        text-align: center;
    }
    .category {
        font-size: $very-large;
        font-family: $serifBold;
    }


    // |----------------------------------------------------|
    // |--------------    CATEGORY__SORT     ---------------|
    // |----------------------------------------------------|
    .category__sort-item {
        cursor: pointer;
        display: inline-block;
        width: 80px;
        margin: 10px 5px;
        border-radius: 50px;
        transition: $transFast;
        text-align: center;
    }
    .category__item-name {
        font-family: $sans;
        padding: 9px 0;
        font-size: $small;
        transition: $transFast;
    }
    .category__sort-item.is--selected {
        background: $color-blue;
        .category__item-name {
            color: $color-light;
        }
    }


    // |----------------------------------------------------|
    // |--------------    CATEGORY__LINK     ---------------|
    // |----------------------------------------------------|
    .category__link-wrap {
        position: relative;
        display: inline-block;
        top: 20px;

    }
    .category__plus {
        width: 35px;
        height: 35px;
    }
    .category__go {
        font-family: $sans;
        font-size: $small;
        float: left;
        padding: 9px 0;
    }
    .category__plus {
        position: relative;
        float: right;
        width: 25px;
        height: 35px;
        transition: $transFast;
    }
    .category__line-v,
    .category__line-h {
        stroke-width: 2px;
        stroke: $color-dark;
    }

    .category-minimize {
        text-align: center;
    }
}
