// |----------------------------------------------------|
// |-----------------     FOOTER      ------------------|
// |----------------------------------------------------|
footer.footer
  a(href="#")
    .logo-wrap
        svg.logo.logo--typical-foo
          use(xlink:href="img/svg-sprites/sprite.svg#icon-logo_TF")
  .footer__text Типовий франківськ
  .transparent-line
  .social.js-social
    .social__text-box.js-social-text-box
      span.social__text.js-social-text Ми в соцмережах
    a(href="#")
      svg.social__vk.js-social-vk
        use(xlink:href="img/svg-sprites/sprite.svg#icon-vk")
    a(href="#")
      svg.social__insta.js-social-insta
        use(xlink:href="img/svg-sprites/sprite.svg#icon-inst")
    a(href="#")
      svg.social__fb.js-social-fb
        use(xlink:href="img/svg-sprites/sprite.svg#icon-fb")
  .contact-line
    a.contact-line__advert(href="modal-advertisers.html" class="modal-ajax") Рекламодавцям
    a.contact-line__contacts(href="modal-contacts.html" class="modal-ajax") Контакти
  a(href="#")
    svg.logo.logo--yleaf
      use(xlink:href="img/svg-sprites/sprite.svg#icon-Logo_YLS")
