// |----------------------------------------------------|
// |-----------------       HEAD      ------------------|
// |----------------------------------------------------|
doctype html
html(lang="ua")
head
  meta(charset="utf-8")
  meta(name="description" content="")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title My Template For Projects
  link(rel="stylesheet" href="css/main.min.css")
