// |----------------------------------------------------|
// |--------------------  SCRIPTS   --------------------|
// |----------------------------------------------------|
script(src='js/libs/jquery.min.js')
script(src="js/libs/jquery.touch.min.js")
script(src="js/libs/jquery.weather.min.js")
script(src="js/libs/owl.carousel.min.js")
script(src="js/libs/svg4everybody.min.js")
script(src="js/libs/jquery.masonry.min.js")
script(src="js/libs/currency.js")
script(src="js/libs/modaal.js")
script(src='js/common.min.js')
script(src='js/menu.min.js')
