// |----------------------------------------------------|
// |-----------------  GLOBAL SEARCR  ------------------|
// |----------------------------------------------------|
.search-wrap
    .search.search--closed.js-search
      svg.search__icon.icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-search")
      form(action="").search__form.js-search-form
        input(type="search" placeholder="Пошук" autofocus="autofocus").search__input.js-search-input
        input(type="submit" value="Шукати").search__button.btn-click
