// |----------------------------------------------------|
// |-----------------  ASIDE MENU     ------------------|
// |----------------------------------------------------|
.overlay.js-overlay
.menu-swipe-wrap.js-swipe-wrap
nav.nav-main.js-nav
    .nav-main__btn.js-nav-btn
        span.nav-main__btn-line
        span.nav-main__btn-line
        span.nav-main__btn-line
    .menu-wrap
        ul.menu
            li.menu__typical
                a(href="/")
                    svg.logo.logo--typical
                        use(xlink:href="img/svg-sprites/sprite.svg#icon-logo_TF")
                #weather.weather
                .currency
                    .currency__usd
                        span.currency__usd-buy 
                        span.currency__usd-sale 
                    .currency__eur
                        span.currency__eur-buy 
                        span.currency__eur-sale
            a(href="services.html")
                li.menu-item.btn-click.js-menu-item.menu-item--is-active
                    .menu-item__line
                        svg.menu-item__icon
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-store")
                        .menu-item__category.js-menu-category Заклади ІФ
                        sup.menu-item__index 123
            a(href="success-history.html")
                li.menu-item.btn-click.js-menu-item
                    .menu-item__line
                        svg.menu-item__icon
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-cup")
                        .menu-item__category.js-menu-category Історії успіху
                        sup.menu-item__index 45
            a(href="photoreports.html")
                li.menu-item.btn-click.js-menu-item
                    .menu-item__line
                        svg.menu-item__icon
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-photo1")
                        .menu-item__category.js-menu-category Фотозвіти
                        sup.menu-item__index 150

            a(href="videointerviews.html")
                li.menu-item.btn-click.js-menu-item
                    .menu-item__line
                        svg.menu-item__icon
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-video-camera")
                        .menu-item__category.js-menu-category Відео-інтерв'ю
                        sup.menu-item__index 150
            a(href="city-review.html")
                li.menu-item.btn-click.js-menu-item
                    .menu-item__line
                        svg.menu-item__icon
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-suitcase")
                        .menu-item__category.js-menu-category Огляд міста
                        sup.menu-item__index 1242
            a(href="clothes.html")
                li.menu-item.btn-click.js-menu-item
                    .menu-item__line
                        svg.menu-item__icon
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-fashion1")
                        .menu-item__category.js-menu-category Одіж
                        sup.menu-item__index 3  

            a(href="leisure.html")
                li.menu-item.btn-click.js-menu-item
                    .menu-item__line
                        svg.menu-item__icon
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-book")
                        .menu-item__category.js-menu-category Дозвілля
                        sup.menu-item__index 65
            a(href="home.html")
                li.menu-item.btn-click.js-menu-item
                    .menu-item__line
                        svg.menu-item__icon
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-home")
                        .menu-item__category.js-menu-category Дім
                        sup.menu-item__index 45
            a(href="blogs.html")
                li.menu-item.btn-click.js-menu-item
                    .menu-item__line
                        svg.menu-item__icon
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-users")
                        .menu-item__category.js-menu-category Блоги
                        sup.menu-item__index 54
            a(href="parents.html")
                li.menu-item.btn-click.js-menu-item
                    .menu-item__line
                        svg.menu-item__icon
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-gestures")
                        .menu-item__category.js-menu-category Батькам
                        sup.menu-item__index 555
            a(href="health.html")
                li.menu-item.btn-click.js-menu-item
                    .menu-item__line
                        svg.menu-item__icon
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-medical1")
                        .menu-item__category.js-menu-category Здоров'я
                        sup.menu-item__index 354

            a(href="cars.html")
                li.menu-item.btn-click.js-menu-item
                    .menu-item__line
                        svg.menu-item__icon
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-transport")
                        .menu-item__category.js-menu-category Автомобілі
                        sup.menu-item__index 346
