@media #{$iPhone} {
    .main-wrap {
        width: calc(100% - 5px);
        padding-left: 5px;
        padding-top: 10px;
        height: auto;
        opacity: 0;
        visibility: hidden;
        transition: $transVFast;
    }
    .main-wrap--loaded {
        opacity: 1;
        visibility: visible;
    }
    .col-lg-4,
    .col-lg-3 {
        padding: 0;
    }

    .loader {
        z-index: 99999;
        position: fixed;
        margin: auto;
        top: 45vh;
        marin-left: 85px;

        width: 100%;
        height: 50px;
        fill: $color-blue;
        animation: animatePreload .5s ease infinite;
    }

} //END MEDIA
