@media #{$tablet} {
    .main-wrap {
        width: calc(100% - 95px);
    }
    .main-wrap {
        padding: 10px 10px 0 85px;
    }
    // .search-wrap {
    //     padding: 0 10px 0 85px;
    // }
} //END MEDIA
