@media #{$iPhone} {
    // |----------------------------------------------------|
    // |--------------        MASONRY        ---------------|
    // |----------------------------------------------------|
    .photoreports,
    .videointerviews {
        width: 100%;
        margin: 0 auto;
    }

    // |----------------------------------------------------|
    // |--------------MODIFIER PHOTO/VIDEO REPOR------------|
    // |----------------------------------------------------|
    .news-item--photo-video {
        width: 310px;
        .news-item__image-wrap {
            width: 100%;
        }
        .news-item__image {
            width: 100%;
        }
        .news-item__overlay {
            top: 0;
            background: rgba(0,0,0,.5);
            transition: $transFast;
        }
        .news-item__icon-category {
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            opacity: .5;
            margin: auto;
            fill: $color-light;
            width: 50px;
            height: 50px;
        }

        //NEWS ITEM CONTENT
        .news-item__content {
            transform: translateY(40px);
            position: absolute;
            padding: 0;
            width: 100%;
            bottom: 0;
            background: $color-light;
            transition: $transFast;
        }

        .news-item__content:after {
            top: -15px;
            left: 0;
            right: 0;
            margin: auto;
            width: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $color-light;

        }
        .news-item__title {
            text-align: center;
            margin-top: 10px;
            width: 100%;
        }
        .social-meta {
            margin: 0 20px 15px 20px;
            text-align: center;

        }
        .social-meta__category {
            display: inline-block;
            margin-left: 25px;
        }
    }

    // |----------------------------------------------------|
    // |--------------MODIFIER HALF RESIZE 50%  ------------|
    // |----------------------------------------------------|
    // .news-item--half {
    //     width: calc(50% - 10px);
    //     float: left;
    // }
} //END MEDIA
