@media #{$screen} {
    // |----------------------------------------------------|
    // |--------------MODIFIER PHOTO/VIDEO REPOR------------|
    // |----------------------------------------------------|
    .news-item--photo-video {
        .news-item__overlay {
            background: none;
        }
        .news-item__icon-category {
            transform: translateY(50px);
            opacity: 0;
            transition: $transFast;
        }
    }
    //HOVER
    .news-item--photo-video:hover {
        .news-item__image {
            transform: translateY(-50px);
        }
        .news-item__overlay {
            background: rgba(0,0,0,.5);
        }
        .news-item__content {
            transform: translateY(0);
        }
        .news-item__icon-category {
            opacity: .3;
            transform: translateY(-35px);
        }
    }
} //END MEDIA
