@media #{$tablet} {
    .news-item--photo-video {
        .news-item__icon-category {
            top: 150px;
            width: 100px;
            height: 100px;
        }
    }
} //END MEDIA
