@media #{$large-screen} {
    // |----------------------------------------------------|
    // |--------------MODIFIER NEWS PHOTOREPORTS------------|
    // |----------------------------------------------------|
    .news-item--photo-video {
        width: 704px;
    }
}
