@media #{$phone} {
    // |----------------------------------------------------|
    // |--------------MODIFIER NEWS PHOTOREPORTS------------|
    // |----------------------------------------------------|
    .news-item--photo-video {
        width: 317px;
    }
}
