@media #{$desktop} {
    // |----------------------------------------------------|
    // |--------------MODIFIER NEWS PHOTOREPORTS------------|
    // |----------------------------------------------------|
    .news-item--photo-video {
        width: 347px;
    }
} //END MEDIA
