section.category-wrap
    .category Фотозвіти
        a(href="#") 
            .category__link-wrap
                .category__go Перейти
                svg.category__plus
                    line(x1="13" y1="13" x2="13" y2="23").category__line-v
                    line(x1="8" y1="18" x2="18" y2="18").category__line-h
