// |----------------------------------------------------|
// |----------------- SERVICES CONTENT ITEMS------------|
// |----------------------------------------------------|

-for (var i=0; i<3; i++)
    // |-----------------  ITEMS ------------|
    a(href="modal-news.html" class="modal-ajax")
        .material.news-item.news-item--min.btn-click
            //Photo
            div(style="background-image: url('img/superman.jpg')").news-item__image
            
            //Content
            .news-item__content
                .news-item__title Заклади Івано-Франківська
                .social-meta
                    .social-meta__views
                        svg.social-meta__icon.social-meta__icon--views
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-views")
                        span.social-meta__count-views 223
                    .social-meta__comments
                        svg.social-meta__icon.social-meta__icon--comments
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-comments")
                        span.social-meta__count-comments 3
                    .social-meta__category
                        svg.social-meta__icon.social-meta__icon--category
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-store")
                        span.social-meta__name-category Заклади ІФ
