section.category-wrap
    .category Топ матеріали
        ul.category__sort-wrap
            li.category__sort-item.is--selected
                .category__item-name День
            li.category__sort-item 
                .category__item-name Тиждень
            li.category__sort-item 
                .category__item-name Місяць
