@media #{$iPhone} {
    // |----------------------------------------------------|
    // |--------------      MAIN CONTENT     ---------------|
    // |----------------------------------------------------|
    .main-content {
        position: relative;
        margin: 0;
    }
}
//END MEDIA
