@media #{$iPhone} {
    // |----------------------------------------------------|
    // |--------------        MASONRY        ---------------|
    // |----------------------------------------------------|
    .top-materials,
    .search-section {
        width: 100%;
        margin: 0 auto;
    }
}
