// |----------------------------------------------------|
// |----------------- BUTTONS CLICK --------------------|
// |----------------------------------------------------|
@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
} //Btn CLick


@keyframes animatePreload {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(180deg);
    }
}



// |----------------------------------------------------|
// |------ FOOTER > SOCIAL TEXT BOX --------------------|
// |----------------------------------------------------|
@keyframes socialFadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes socialFadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
