// |----------------------------------------------------|
// |----------------- BUTTONS CLICK --------------------|
// |----------------------------------------------------|

.btn-click {
  overflow: hidden;
  transition: transform $transFast;
}

.ink {
  display: block;
  position: absolute;
  background:$color-light;
  z-index: 20;
  opacity: .2;
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.btn-animate {
	-webkit-animation:ripple 0.5s linear;
   -moz-animation:ripple 0.5s linear;
    -ms-animation:ripple 0.5s linear;
     -o-animation:ripple 0.5s linear;
        animation:ripple 0.5s linear;
}
