@media #{$screen} {
    // |----------------------------------------------------|
    // |--------------NAV MENU AND HAMBURGER----------------|
    // |----------------------------------------------------|
    .nav-main {
        transition-delay: $transDelayFast;
    }

    //ELEMENTS > NAV-MAIN
    .nav-main__btn {
        display: none;
    }

    //MODIFIERS > NAV-MAIN
    .nav-main--opened {
        transition-delay: 0s;
        .logo--typical {
            margin-top: 20px;
        }
    }
    // |----------------------------------------------------|
    // |--------------         LOGO         ----------------|
    // |----------------------------------------------------|
    .logo--typical {
        margin-top: 20px;
    }
    // |----------------------------------------------------|
    // |--------------         MENU         ----------------|
    // |----------------------------------------------------|
    .menu-wrap {
        overflow: hidden;
        height: 100%;
    }
    .menu-item {
        transition: $transVFast;
        &:hover {
            transition: $transFast;
        }
    }

}
//END MEDIA
