@media #{$desktop} {
    // |----------------------------------------------------|
    // |--------------NAV MENU AND HAMBURGER----------------|
    // |----------------------------------------------------|
    //ELEMENTS > NAV-MAIN
    .nav-main__btn {
        cursor: pointer;
    }
    // |----------------------------------------------------|
    // |--------------         MENU         ----------------|
    // |----------------------------------------------------|
    //MODIFIERS > MENU-ITEM
    .menu-item__line {
        display: block;
        transform: translateX(0);
        padding: 17px 0 0 11px;
    }

    .menu-item__index {
        display: inline-block;
        opacity: 1;
        margin-left: 0;
    }
    .menu-item__category {
        transition-delay: $transDelayFast;
    }
    // |----------------------------------------------------|
    // |------------------     WHEATHER      ---------------|
    // |----------------------------------------------------|
    .weather {
        transition-delay: $transDelayFast;
    }
    // |----------------------------------------------------|
    // |------------------     LOGO          ---------------|
    // |----------------------------------------------------|
    .logo--typical {
        transition-delay: $transDelayFast;
    }

    // |----------------------------------------------------|
    // |------------------     CURRENCY      ---------------|
    // |----------------------------------------------------|
    .currency {
        transition-delay: $transDelayFast;
    }
}
//END MEDIA
