@media #{$iPhone} {
    // |----------------------------------------------------|
    // |--------------    MENU-SWIPE-WRAP    ---------------|
    // |----------------------------------------------------|
    .menu-swipe-wrap {
        position: fixed;
        height: 100%;
        width: 40px;
        z-index: 17;
    }

    .menu-swipe-wrap.menu-swipe-wrap--active {
        width: 100%;
    }

    // |----------------------------------------------------|
    // |--------------BACKGROUND DARKEN COLOR---------------|
    // |----------------------------------------------------|
    .overlay {
        position: fixed;
        opacity: 0;
        width: 100%;
        height: 100%;
        background: $color-dark-tr;
        transition: opacity $transFast;
        z-index: -1;
    }

    //MODIFIERS > OVERLAY
    .overlay--behind {
        z-index: 17;
        opacity: 1;
    }

    .overlay--in-front {
        z-index: 19;
        opacity: 1;
    }
    // |----------------------------------------------------|
    // |--------------NAV MENU AND HAMBURGER----------------|
    // |----------------------------------------------------|
    .nav-main {
        position: fixed;
        height: 100%;
        width: $menuLargeWidth;
        transform: translateX(-105%);
        background: $color-light;
        transition: $transVFast;
        box-shadow: $menu-shadow;
        z-index: 18;
    }

    //ELEMENTS > NAV-MAIN
    .nav-main__btn {
        box-shadow: $search-shadow;
        width: 50px;
        height: 30px;
        padding: 10px 0;
        position: relative;
        margin: auto;
        background: $color-light;
        transform: rotate(0deg) translateX(140px);
        transition: $transFast;
        border-radius: 0 0 50% 0;
        border-right: 2px solid $color-blue;
        border-bottom: 2px solid $color-blue;
    }

    .nav-main__btn-line {
        display: block;
        position: absolute;
        height: 3px;
        width: 16px;
        background: $color-blue;
        border-radius: 9px;
        opacity: 1;
        margin: 15px auto;
        right: 0;
        left: 0;
        transform: rotate(0deg);
        transition: $transFast;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 9px;
        }
        &:nth-child(3) {
            top: 18px;
        }
    }

    //MODIFIERS > NAV-MAIN
    .nav-main--opened {
        transform: translateX(0);
        .nav-main__btn {
            transform: translateX(0);
            border: none;
            box-shadow: none;
        }
        .nav-main__btn-line {
            &:nth-child(1) {
                top: 9px;
                transform: rotate(135deg);
            }
            &:nth-child(2) {
                opacity: 0;
                left: -60px;
            }
            &:nth-child(3) {
                top: 9px;
                transform: rotate(-135deg);
            }
        }
        .weather {
            margin: 0 65px;
            transition-delay: 0s;
        }
        .weather-logo {
            display: inline-block;
            opacity: 1;
            transition: opacity $transDelayNormal $transVFast;
        }
        .currency {
            margin: 0 45px;
            transition-delay: 0s;
            padding-left: 0;
            &__eur-buy,
            &__eur-sale,
            &__usd-buy,
            &__usd-sale {
                opacity: 1;
                transition: opacity $transDelayNormal $transVFast;
                display: inline-block;
            }
        }
        .logo--typical {
            margin: 0 80px 0;
            transition-delay: 0s;
        }
    }
    // |----------------------------------------------------|
    // |------------------     LOGO      -------------------|
    // |----------------------------------------------------|
    .logo {
        fill: $color-dark;
        transition: $transVFast;
        display: inline-block;
    }

    .logo--typical {
        position: relative;
        width: 50px;
        height: 50px;
        margin: 0 12px;
        fill: $color-blue;
    }
    // |----------------------------------------------------|
    // |------------------     WEATHER   -------------------|
    // |----------------------------------------------------|
    .weather {
      width: $menuSmallWidth;
      text-transform: uppercase;
      transition: $transVFast;
    }

    .weather-logo {
      color: $color-blue;
      font-family: weather;
      font-size: 25px;
      font-weight: normal;
      font-style: normal;
      line-height: 1.0;
      text-transform: none;
      opacity: 0;
    }

    // |----------------------------------------------------|
    // |------------------     CURRENCY      ---------------|
    // |----------------------------------------------------|
    .currency {
        position: relative;
        font-family: $sans;
        color: $color-blue;
        transition: $transVFast;
        width: calc(100% + 17px);
        padding-left: 10px;
        height: 40px;
        &__eur-sale,
        &__usd-sale {
            opacity: 0;
            padding-left: 5px;
        }
    }
    .currency__usd,
    .currency__eur {
        position: absolute;
        transition: $transNormal;
    }
    .currency__eur {
        top: 20px;
    }
    // |----------------------------------------------------|
    // |-----------------------MENU-------------------------|
    // |----------------------------------------------------|

    .menu-wrap {
        overflow: hidden;
        height: calc(100% - 60px);
    }

    //===================MENU TYPICAL (TOP)================//
    .menu__typical {
        padding-bottom: 20px;
    }
    .menu {
        padding: 0 17px 0 0;
        width: calc(100% + 17px);
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }

    .menu-item {
        position: relative;
        width: 100%;
        height: 50px;
        background: linear-gradient(to left, $color-light 50%, $color-blue 50%);
        background-size: 200% 100%;
        background-position: 100%;
        &:hover {
            background-position: left bottom;
            .menu-item__icon {
                fill: $color-light;
                margin-left: 5px;
            }
            .menu-item__category,
            .menu-item__index {
                color: $color-light;
            }
        }
        &--is-active {
            background-position: left bottom;
            .menu-item__icon {
                fill: $color-light;
                margin-left: 5px;
            }
            .menu-item__category,
            .menu-item__index {
                color: $color-light;
            }
        }
    }


    //ELEMENTS > MENU-ITEM
    .menu-item__line {
        padding: 17px 0 0 17px;
        transition: $transFast;
    }
    .menu-item__icon {
        fill: $color-dark-light;
        float: left;
        width: 20px;
        height: 20px;
        transition: fill $transFast, margin $transFast;
    }
    .menu-item__category {
        float: left;
        font-size: $medium;
        font-family: $sansBold;
        padding-left: 5px;
    }
    .menu-item__index {
        padding: 0 5px;
        font-family: $sans;
    }
}
//END MEDIA
