@media #{$tablet} {
    // |----------------------------------------------------|
    // |--------------NAV MENU AND HAMBURGER----------------|
    // |----------------------------------------------------|
    .nav-main {
        width: $menuSmallWidth;
        transform: translateX(0);
        transition-delay: $transDelayFast;
    }
    .nav-main__btn {
        transform: translateX(0);
        border: none;
        box-shadow: none;
    }

    .weather {
        margin-left: -5px;
    }

    //MODIFIERS > NAV-MAIN
    .nav-main--opened {
        transition-delay: 0s;
        width: $menuLargeWidth;
        .menu-item__line {
            padding: 17px 0 0 17px;
        }
        .menu-item__category,
        .menu-item__index {
            margin-left: 0;
            opacity: 1;
            transition: margin $transVFast, opacity $transDelayLong ease-in-out, color $transFast;
        }
        .logo--typical {
            margin-top: 0;
        }
    }
    // |----------------------------------------------------|
    // |-----------------------MENU-------------------------|
    // |----------------------------------------------------|
    .menu-item__line {
        transform: translateX(0);
        padding: 17px 0 0 27px;
    }
    .menu-item__category,
    .menu-item__index {
        opacity: 0;
        margin-left: -400%;
    }


    //ELEMENTS > MENU-ITEM
    .menu-item__category  {
        transition: margin $transVFast;
    }
}
//END MEDIA
