include ./includes/head.jade
body.preload
    include ./includes/loader.jade
    include ./includes/side-menu.jade
    // |----------------------------------------------------|
    // |-----------------    MAIN WRAP    ------------------|
    // |----------------------------------------------------|
    article.main-wrap
        include ./includes/pages/health.jade
        include ./includes/parts/news.jade
        include ./includes/parts/view-more-news.jade
                        



    include ./includes/search.jade
    include ./includes/footer.jade
    include ./includes/scripts.jade
