include ./includes/head.jade
body.preload
    include ./includes/loader.jade
    include ./includes/side-menu.jade
    include ./includes/parts/header.jade
    // |----------------------------------------------------|
    // |-----------------    MAIN WRAP    ------------------|
    // |----------------------------------------------------|
    article.main-wrap
        include ./includes/parts/news.jade
        include ./includes/parts/view-more-news.jade
        
        include ./includes/parts/top-materials-title.jade
        include ./includes/parts/top-materials.jade
        
        include ./includes/parts/photoreports-title.jade
        include ./includes/parts/photoreports.jade

        include ./includes/parts/minimize-materials.jade
        
        include ./includes/parts/blogs-title.jade
        include ./includes/parts/blogs.jade
        
        include ./includes/parts/videointerviews-title.jade
        include ./includes/parts/videointerviews.jade

    include ./includes/search.jade
    include ./includes/footer.jade
    include ./includes/scripts.jade
