include ./includes/head.jade
body.preload
    include ./includes/loader.jade
    include ./includes/side-menu.jade
    // |----------------------------------------------------|
    // |-----------------    MAIN WRAP    ------------------|
    // |----------------------------------------------------|
    article.main-wrap
        include ./includes/parts/search-title.jade
        include ./includes/parts/search.jade
        include ./includes/parts/view-more-news.jade
                        



    include ./includes/search.jade
    include ./includes/footer.jade
    include ./includes/scripts.jade
    script(src="js/libs/search-page.js")
