@media #{$tablet} {
    // |----------------------------------------------------|
    // |--------------        SEARCH        ----------------|
    // |----------------------------------------------------|
    .search-wrap {
        padding-left: 75px;
        width: calc(100% - 75px);
    }
    .search {
        width: 640px;
        overflow: hidden;
        cursor: pointer;
        background: $color-light;
    }

    //ELEMENTS > SEARCH
    .search__icon {
        fill: $color-blue;
    }
    .search--closed {
        width: 50px;
    }
    .search__input {
        width: calc(100% - 113px);
    }
    .search__button {
        transform: none;
        right: 10px;
        top: 7px;
        margin-right: 0;
        margin-top: 0;
        transition: $transFast;
        box-shadow: none;
        &:hover {
            transform: scale(1.05);
        }
    }

    //MODIFIERS > SEARCH
    .search--closed {
        &:hover {
            background: $color-blue;
            .search__icon {
                fill: $color-light;
            }
        }
    }
}
//END MEDIA
