@media #{$iPhone} {
    // |----------------------------------------------------|
    // |--------------        SEARCH        ----------------|
    // |----------------------------------------------------|
    .search-wrap {
        display: none;
        position: fixed;
        top: 10px;
        height: 0px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 20;
        // transition: $transFast;
        // .search__icon {
        //     transform: rotate(180deg) translateY(-10px);
        //     transition: $transFast;
        // }
    }
    // .search-wrap:hover {
    //     top: 20px;
    //     .search__icon {
    //         transform: rotate(0) translateY(0);
    //     }
    // }
    .search {
        position: relative;
        width: 300px;
        height: 50px;
        border-radius: 50px;
        background: $color-light;
        left: 0;
        right: 0;
        margin: auto;
        transition: $transFast;
        box-shadow: $search-shadow;
        border: 2px solid $color-blue;
    }

    //ELEMENTS > SEARCH
    .search__icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        padding: 15px;
        fill: $color-blue;
        z-index: 20;
    }
    .search__input {
        display: block;
        font-family: $sans;
        width: 100%;
        height: 50px;
        padding-left: 50px;
        border-radius: 50px;
        outline: none;
        border: none;
    }
    .search__form {
        position: relative;
        display: none;
    }
    .search__button {
        transform: translateY(10%);
        cursor: pointer;
        position: absolute;
        opacity: 1;
        left: 0;
        right: 0;
        margin: 10px auto 0;
        width: 100px;
        height: 35px;
        background: $color-blue;
        border: none;
        color: $color-light;
        outline: none;
        border-radius: 25px;
        box-shadow: $search-shadow;
        font-size: $small;
        overflow: hidden;
    }

    //MODIFIERS > SEARCH
    .search--moved {
        transform: translateX(100px);
    }
    .search--closed {
        width: 50px;
        border-radius: 50px;
        .search__input {
            display: none;
        }
        .search__button {
            transform: translateY(10%);
            display: none;
        }
    }
}
//END MEDIA
