@media #{$iPhone} {
    // |----------------------------------------------------|
    // |--------------        MASONRY        ---------------|
    // |----------------------------------------------------|
    .latest-news {
        width: 100%;
        margin: 0 auto
    }
    .material-sizer {
        width: 320px;
    }
    // |----------------------------------------------------|
    // |--------------      NEWS ITEM        ---------------|
    // |----------------------------------------------------|
    .news-item {
        width: 310px;
        height: 210px;
        float: left;
        background: $color-light;
        margin-bottom: 10px;
        margin-right: 10px;
        display: block;
    }

    // |----------------------------------------------------|
    // |--------------     NEWS INNER        ---------------|
    // |----------------------------------------------------|

    // |-------------------- IMAGE -------------------------|
    .news-item__image-wrap {
        width: 155px;
        float: left;
        height: 100%;
        overflow: hidden;
    }

    .news-item__image {
        width: 155px;
        height: 100%;
        background-size: cover;
        background-position: center center;
    }

    // |-------------------- CONTENT------------------------|
    .news-item__content {
        position: relative;
        width: 135px;
        padding: 10px;
        float: right;
        box-sizing: content-box;
    }
    .news-item__content:after {
        position: absolute;
        top: 10px;
        left: -5px;
        content: '';
        border-bottom: 8px solid transparent;
        border-right: 8px solid $color-light;
        border-top: 8px solid transparent;
    }

    .news-item__title {
        max-height: 85px;
        overflow: hidden;
        font-size: $small;
        font-family: $serifBold;
    }

    // |----------------  SOCIAL META ----------------------|
    .social-meta {
        position: relative;
    }

    .social-meta__views,
    .social-meta__comments {
        opacity: .5;
        display: inline-block;
        margin: 5px 0;
    }

    .social-meta__category {
        opacity: .5;
    }

    .social-meta__comments {
        margin-left: 10px;
    }

    .social-meta__icon {
        height: 20px;
        position:relative;
        top: 5px;
    }

    .social-meta__count-views,
    .social-meta__count-comments,
    .social-meta__name-category {
        padding-left: 3px;
        font-size: $medium;
    }
    .social-meta__name-category {
        font-size: $small;
    }
    //Social META modifiers
    .social-meta__icon--views {
        width: 20px;
    }
    .social-meta__icon--comments {
        width: 14px;
    }
    .social-meta__icon--category {
        width: 20px;
    }

    // |----------------CIRCLE WITH PLUS--------------------|
    .news-item__circle {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 10px;
        background-color: $color-blue;
        border-radius: 50px;
        width: 36px;
        height: 36px;
    }
    .news-item__line-v,
    .news-item__line-h {
        stroke-width: 2px;
        stroke: $color-light;
    }


    // |----------------  MODIFIERS   ----------------------|
    // |----------------    MIRROR  ----------------------|
    .news-item--mirror {

        //image
        .news-item__image-wrap {
            float: right;
        }
        .news-item__circle {
            left: auto;
            right: 0;
        }
        .news-item__content:after {
            left: auto;
            right: -5px;
            border-left: 8px solid $color-light;
            border-right: transparent;
        }
    }

    // |----------------  MINIMIZE NEW  ----------------------|
    .news-item--min {
        position: relative;
        float: none;
        height: auto;
        background: none;
        margin: auto;
        .news-item__image {
            display: inline-block;
            border-radius: 100%;
            height: 95px;
            width: 95px;
            margin: 20px 0 20px 20px;
        }
        .news-item__image {
            height: 95px;
            width: 95px;
        }
        .news-item__content {
            padding: 0 20px 0 0;
            margin: 20px 0;
            width: calc(100% - 155px);
        }
        .news-item__content:after {
            display: none;
        }
        .news-item__title {
            max-height: 50px;
        }
    }
    .news-item--min:hover {
        .news-item__image {
            transform: translate(0);
        }
    }

} //END MEDIA
