@media #{$screen} {
    .news-item {
        cursor: pointer;
    }
    // // |----------------  MINIMIZE NEW  ----------------------|
    // .news-item--min {
    //     width: 300px;
    // }
} //END MEDIA
