@media #{$phone} {
    // |----------------------------------------------------|
    // |--------------        MASONRY        ---------------|
    // |----------------------------------------------------|
    .material-sizer {
        width: 327px;
    }
    .news-item {
        width: 317px;
    }

    // |----------------------------------------------------|
    // |--------------     NEWS BLOCK        ---------------|
    // |----------------------------------------------------|

    // |-------------------- IMAGE -------------------------|
    .news-item__image-wrap {
        width: 158.5px;
    }
    .news-item__image {
        width: 158.5px;
    }

    // |-------------------- CONTENT------------------------|
    .news-item__content {
        width: 138.5px;
    }

}
