@media #{$tablet} {
    // |----------------------------------------------------|
    // |--------------     NEWS BLOCK MODIFIERS ------------|
    // |----------------------------------------------------|
    .news-item--big {
        height: 430px;
        width: 644px;
    }
    .news-item--long {
        height: 430px;
    }

    // |----------------------------------------------------|
    // |--------------     NEWS INNER        ---------------|
    // |----------------------------------------------------|

    // |-------------------- CONTENT------------------------|
    .news-item__title {
        max-height: 120px;
    }

    // |-------------------- MODIFIERS------------------------|
    .news-item--long {
        .news-item__title {
            max-height: 320px;
        }
    }



} //END MEDIA
