@media #{$desktop} {
    // |----------------------------------------------------|
    // |--------------        MASONRY        ---------------|
    // |----------------------------------------------------|
    .latest-news {
        width: 100%;
        margin: 0 auto
    }
    .material-sizer {
        width: 357px
    }
    .news-item {
        width: 347px;
    }

    // |----------------------------------------------------|
    // |--------------     NEWS BLOCK        ---------------|
    // |----------------------------------------------------|

    // |-------------------- IMAGE -------------------------|
    .news-item__image-wrap {
        width: 173.5px;
    }
    .news-item__image {
        width: 173.5px;
    }

    // |-------------------- CONTENT------------------------|
    .news-item__content {
        width: 153.5px;
    }

    // |----------------------------------------------------|
    // |--------------     NEWS BLOCK MODIFIERS ------------|
    // |----------------------------------------------------|
    .news-item--big {
        width: 704px
    }
    .news-item--long {
        height: 430px;
    }






} //END MEDIA
