@media #{$screen} {

    .news-item--slider {
        width: 79.5%;
    }
    .news-item--banner {
        display: block;
        position: relative;
        width: calc(20.5% - 10px);
        float: right;
        .news-item__image-wrap,
        .news-item__image {
            width: 100%;
        }
    }
}
