@media #{$tablet} {
    .header {
        height: 650px;
        width: calc(100% - 95px);
        padding: 10px 10px 0 85px;
    }
    .news-item--banner {
        height: 210px;
    }


    // |----------------------------------------------------|
    // |--------------      NEWS ITEM SLIDER ---------------|
    // |----------------------------------------------------|
    .news-item--slider {
        // |--------------  OVERLAY SLIDER     ---------------|
        .news-item__overlay {
            background: linear-gradient(transparent 40%, $color-black 100%);
        }
        // |--------------  SOCIAL META      ---------------|
        .social-meta {
            position: absolute;
            bottom: 15px;
            left: auto;
            right: 115px;
        }
        .social-meta__icon {
            fill: $color-light;
        }
        .social-meta__views,
        .social-meta__comments {
            opacity: 1;
        }
        .social-meta__count-views,
        .social-meta__count-comments {
            color: $color-light;
        }

        .news-item__image-wrap,
        .news-item__image {
            height: 430px;
        }
        // |--------------  PAGINATION    ---------------|
        .owl-theme .owl-controls{
            right: 15px;
        }
        // |--------------  TITLE   -----------------------|
        .news-item__title {
            position: absolute;
            color: $color-light;
            width: calc(100% - 235px);
            bottom: 25px;
            padding-left: 15px;
        }
    }
}
