@media #{$iPhone} {
    .header {
        position: relative;
        height: 325px;
        width: 100%;
        padding-top: 10px;
        opacity: 0;
        visibility: hidden;
        transition: $transVFast;
    }
    .header--loaded {
        opacity: 1;
        visibility: visible;
    }
    .news-item--slider {
        position: relative;
        width: 100%;
    }

    .news-item--banner {
        position: relative;
        width: 100%;
        float: right;
        margin-right: 0;
        height: 105px;
        .news-item__image-wrap,
        .news-item__image {
            width: 100%;
        }
    }

    // |----------------------------------------------------|
    // |--------------      NEWS ITEM SLIDER ---------------|
    // |----------------------------------------------------|

    // |--------------  OVERLAY SLIDER     ---------------|
    .news-item__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(transparent 20%, $color-black 100%);
    }

    .news-item--slider {
        overflow: hidden;
        // |--------------  SOCIAL META      ---------------|
        .social-meta {
            position: absolute;
            bottom: 15px;
            left: 50px;
            opacity: 0;
        }
        .social-meta__icon {
            fill: $color-light;
        }
        .social-meta__views,
        .social-meta__comments {
            opacity: 1;
        }
        .social-meta__count-views,
        .social-meta__count-comments {
            color: $color-light;
        }
        // |--------------  PAGINATION    ---------------|
        .owl-theme .owl-controls{
            bottom: 15px;
            right: 50px;
        }

        // |--------------  SLIDER IMAGE    ---------------|
        .news-item__image-wrap,
        .news-item__image {
            display: block;
            width: 100%;
            height: 210px;
        }
        // |--------------  TITLE   -----------------------|
        .news-item__title {
            position: absolute;
            color: $color-light;
            width: calc(100% - 50px);
            bottom: 50px;
            padding: 0 25px;
            opacity: 0;
        }

        // |--------------  ITEM ACTIVE  -----------------------|
        .owl-item.active {
            .news-item__title {
                opacity: 1;
                transition: $transLong $transDelayFast;
            }
            .social-meta {
                opacity: 1;
                transition: $transLong $transDelayFast;
            }
        }
    }
}
