@media #{$desktop} {
    .header {
        height: 430px;
    }
    .news-item--slider {
        position: relative;
        width: 60%;
    }
    .news-item--banner {
        width: calc(40% - 10px);
        height: 430px;
    }
} //END MEDIA
