@media #{$iPhone} {
    .page-title-wrap {
        padding: 30px 0;
        margin-top: 25px;
    }
    .page-home {
        display: inline-block;
    }
    .page-home__main {
        float: left;
        font-family: $sansBold;
        font-size: $small;
        transition: $transVFast;
    }
    .page-home__icon-arrow-right {
        width: 15px;
        height: 15px;
        float: left;
        padding: 2px 10px;
        transition: $transVFast;
    }
    .page-it {
        display: inline-block;
        font-family: $serifBold;
        font-size: $very-large;
    }

    //HOVER
    .page-home:hover {
        .page-home__main {
            color: $color-blue;
        }
        .page-home__icon-arrow-right {
            transform: rotate(180deg);
            fill: $color-blue;
        }
    }
}
