
<!-- |----------------------------------------------------|-->
<!-- |----------------- MODAL CONTAINER ------------------|-->
<!-- |----------------------------------------------------|-->
<section id="modaal-close" class="close-overlay"></section>
<section class="navigation"><a href="#">
    <div class="navigation-prev-wrap">
      <svg class="navigation-prev">
        <use xlink:href="img/svg-sprites/sprite.svg#icon-left"></use>
      </svg>
    </div></a><a href="#">
    <div class="navigation-next-wrap">
      <svg class="navigation-next">
        <use xlink:href="img/svg-sprites/sprite.svg#icon-right"></use>
      </svg>
    </div></a></section>
<section class="modal-container">
  <!--======================== NEWS ITEM SIMPLE ====================//-->
  <div class="material news-item news-item--modal">
    <!--Content-->
    <div class="news-item__content">
      <div class="modal-header-wrap">
        <div class="modal-header clearfix">
          <!--DATE WRAP-->
          <div class="date">
            <svg class="date__icon">
              <use xlink:href="img/svg-sprites/sprite.svg#icon-clock"></use>
            </svg><span class="date__text">4 квітня о 12:00</span>
          </div>
          <!--SOCIAL META-->
          <div class="modal-header__social social-meta">
            <div class="social-meta__views">
              <svg class="social-meta__icon social-meta__icon--views">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-views"></use>
              </svg><span class="social-meta__count-views">223</span>
            </div>
            <div class="social-meta__comments">
              <svg class="social-meta__icon social-meta__icon--comments">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-comments"></use>
              </svg><span class="social-meta__count-comments">3</span>
            </div>
            <div class="social-meta__category">
              <svg class="social-meta__icon social-meta__icon--category">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-gestures"></use>
              </svg><span class="social-meta__name-category">Відео-інтерв'ю</span>
            </div>
          </div>
          <!--SHARE-->
          <div class="modal-header__share social js-social">
            <div class="social__text-box js-social-text-box"><span class="social__text js-social-text">Поділитися матеріалом</span></div><a href="#">
              <svg class="social__vk js-social-vk">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-vk"></use>
              </svg></a><a href="#">
              <svg class="social__insta js-social-insta">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-inst"></use>
              </svg></a><a href="#">
              <svg class="social__fb js-social-fb">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-fb"></use>
              </svg></a>
          </div>
        </div>
      </div>
      <!--TITLE-->
      <div class="news-item__title">Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць</div>
      <!--LINE-->
      <hr size="1px" class="news-item__line"/>
      <!--SUBTITLE-->
      <div class="news-item__subtitle">Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць</div>
      <!--PHOTO-->
      <div style="background-image: url('img/superman.jpg')" class="news-item__image"></div>
      <!--MAIN Content-->
      <div class="news-item__main-content">
        <div class="news-item__content-items">Дівчинка зізнається, що їй подобається рок-музика і вона вже рік опановує барабани. До музичної школи Катя не ходить, з викладачем індивідуально займалася лише чотири рази – а в основному тренується завдяки роликам на Ютубі. Дівчинка зізнається, що їй подобається рок-музика і вона вже рік опановує барабани. 
          <!--QOUTE--><a href="#">
            <div class="news-item__quote clearfix material">
              <div style="background-image: url('img/superman.jpg')" class="news-item__quote-image"></div>
              <div class="news-item__quote-name">Капітан Америка</div>
              <svg class="news-item__quote-icon">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-icon"></use>
              </svg>
              <div class="news-item__quote-text">Чим старша людина, тим більше їй років</div>
            </div></a>Дівчинка зізнається, що їй подобається рок-музика і вона вже рік опановує барабани. До музичної школи Катя не 
          <!--VIDEO-->
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/vOAOAq_u2fw" frameborder="0" allowfullscreen="allowfullscreen" class="news-item__video"></iframe>Дівчинка зізнається, що їй подобається рок-музика і вона вже рік опановує барабани. До музичної школи Катя не 
        </div>
      </div>
      <!--LINE-->
      <hr size="1px" class="news-item__line"/>
      <!--======================== COMMENTS ====================//-->
      <div class="comments-header clearfix">
        <div class="total-comments"><span>10</span> коментарів</div><a href="#"> 
          <div class="category__link-wrap category__link-wrap--comments">
            <div class="category__go">Показати всі</div>
            <svg class="category__plus">
              <line x1="13" y1="13" x2="13" y2="23" class="category__line-v"></line>
              <line x1="8" y1="18" x2="18" y2="18" class="category__line-h"></line>
            </svg>
          </div></a>
      </div>
      <div class="comment-wrap">
        <div class="comment">
          <div style="background-image: url('img/superman.jpg')" class="comment__image"></div>
          <div class="comment__person"><span class="person__name">Hulk</span><span class="person__surname">Hulkovich</span></div>
          <div class="comment__content">Xnjnjjn sdfsdijf psidjfpsid jf psjdp fsidj pfisjdpf ijsdf jspdifj psidfjpsdijf psdfij</div>
          <div class="comment__footer clearfix">
            <!--DATE WRAP-->
            <div class="date date--comment">
              <svg class="date__icon">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-clock"></use>
              </svg><span class="date__text">4 квітня о 12:00</span>
            </div>
            <div class="comment__answer">Відповісти</div>
            <div class="likes-wrap">
              <svg class="like-minus">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-minus"></use>
              </svg>
              <svg class="like-icon like-icon--negative">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-heart"></use>
              </svg>
              <div class="like-count">0</div>
              <svg class="like-plus">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-plus"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="comment">
          <div style="background-image: url('img/superman.jpg')" class="comment__image"></div>
          <div class="comment__person"><span class="person__name">Hulk</span><span class="person__surname">Hulkovich</span></div>
          <div class="comment__content">Xnjnjjn sdfsdijf psidjfpsid jf psjdp fsidj pfisjdpf ijsdf jspdifj psidfjpsdijf psdfij</div>
          <div class="comment__footer clearfix">
            <!--DATE WRAP-->
            <div class="date date--comment">
              <svg class="date__icon">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-clock"></use>
              </svg><span class="date__text">4 квітня о 12:00</span>
            </div>
            <div class="comment__answer">Відповісти</div>
            <div class="likes-wrap">
              <svg class="like-minus">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-minus"></use>
              </svg>
              <svg class="like-icon like-icon--negative">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-heart"></use>
              </svg>
              <div class="like-count">0</div>
              <svg class="like-plus">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-plus"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="comment">
          <div style="background-image: url('img/superman.jpg')" class="comment__image"></div>
          <div class="comment__person"><span class="person__name">Hulk</span><span class="person__surname">Hulkovich</span></div>
          <div class="comment__content">Xnjnjjn sdfsdijf psidjfpsid jf psjdp fsidj pfisjdpf ijsdf jspdifj psidfjpsdijf psdfij</div>
          <div class="comment__footer clearfix">
            <!--DATE WRAP-->
            <div class="date date--comment">
              <svg class="date__icon">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-clock"></use>
              </svg><span class="date__text">4 квітня о 12:00</span>
            </div>
            <div class="comment__answer">Відповісти</div>
            <div class="likes-wrap">
              <svg class="like-minus">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-minus"></use>
              </svg>
              <svg class="like-icon like-icon--negative">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-heart"></use>
              </svg>
              <div class="like-count">0</div>
              <svg class="like-plus">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-plus"></use>
              </svg>
            </div>
          </div>
        </div>
        <!--AUTH-->
        <div class="auth clearfix">
          <div class="auth__text">Ви авторизовані</div>
          <svg class="auth__soc">
            <use xlink:href="img/svg-sprites/sprite.svg#icon-vk"></use>
          </svg>
          <svg class="auth__icon-ok">
            <use xlink:href="img/svg-sprites/sprite.svg#icon-mark"></use>
          </svg>
        </div>
        <!--SHARE-->
        <div class="comment-auth social js-social--modal">
          <div class="social__text-box js-social-text-box--modal"><span class="social__text js-social-text--modal">Увійти за допомогою</span></div><a href="#">
            <svg class="social__vk js-social-vk--modal">
              <use xlink:href="img/svg-sprites/sprite.svg#icon-vk"></use>
            </svg></a><a href="#">
            <svg class="social__insta js-social-insta--modal">
              <use xlink:href="img/svg-sprites/sprite.svg#icon-inst"></use>
            </svg></a><a href="#">
            <svg class="social__fb js-social-fb--modal">
              <use xlink:href="img/svg-sprites/sprite.svg#icon-fb"></use>
            </svg></a>
        </div>
        <form action="/" class="comment__form">
          <div style="background-image: url('img/superman.jpg')" class="comment__image comment__image--profile"></div>
          <textarea placeholder="Додати коментар..." class="comment__textarea"></textarea>
          <input type="submit" value="Коментувати" class="comment__send"/>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- |----------------- MODAL BOTTOM ---------------------|-->
<section class="modal-buttom">
  <section class="related-news-title">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <h1 class="related-materials-title">Схожі матеріали</h1>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>
  <section class="related-materials"> 
    <div class="material-sizer"></div>
    <!--======================== NEWS ITEM SIMPLE ====================//--><a href="#">
      <div class="material news-item btn-click">
        <!--Photo-->
        <div class="news-item__image-wrap">
          <div style="background-image: url('img/superman.jpg')" class="news-item__image"></div>
        </div>
        <!--Content-->
        <div class="news-item__content">
          <div class="news-item__title">Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць</div>
          <div class="social-meta">
            <div class="social-meta__views">
              <svg class="social-meta__icon social-meta__icon--views">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-views"></use>
              </svg><span class="social-meta__count-views">223</span>
            </div>
            <div class="social-meta__comments">
              <svg class="social-meta__icon social-meta__icon--comments">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-comments"></use>
              </svg><span class="social-meta__count-comments">3</span>
            </div>
            <div class="social-meta__category">
              <svg class="social-meta__icon social-meta__icon--category">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-gestures"></use>
              </svg><span class="social-meta__name-category">Відео-інтерв'ю</span>
            </div>
          </div>
        </div>
        <!--Circle plus-->
        <svg class="news-item__circle">
          <line x1="18" y1="13" x2="18" y2="23" class="news-item__line-v"></line>
          <line x1="13" y1="18" x2="23" y2="18" class="news-item__line-h"></line>
        </svg>
      </div></a>
    <!--======================== NEWS ITEM SIMPLE ====================//--><a href="#">
      <div class="material news-item btn-click">
        <!--Photo-->
        <div class="news-item__image-wrap">
          <div style="background-image: url('img/superman.jpg')" class="news-item__image"></div>
        </div>
        <!--Content-->
        <div class="news-item__content">
          <div class="news-item__title">Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць</div>
          <div class="social-meta">
            <div class="social-meta__views">
              <svg class="social-meta__icon social-meta__icon--views">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-views"></use>
              </svg><span class="social-meta__count-views">223</span>
            </div>
            <div class="social-meta__comments">
              <svg class="social-meta__icon social-meta__icon--comments">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-comments"></use>
              </svg><span class="social-meta__count-comments">3</span>
            </div>
            <div class="social-meta__category">
              <svg class="social-meta__icon social-meta__icon--category">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-gestures"></use>
              </svg><span class="social-meta__name-category">Відео-інтерв'ю</span>
            </div>
          </div>
        </div>
        <!--Circle plus-->
        <svg class="news-item__circle">
          <line x1="18" y1="13" x2="18" y2="23" class="news-item__line-v"></line>
          <line x1="13" y1="18" x2="23" y2="18" class="news-item__line-h"></line>
        </svg>
      </div></a>
    <!--======================== NEWS ITEM SIMPLE ====================//--><a href="#">
      <div class="material news-item btn-click">
        <!--Photo-->
        <div class="news-item__image-wrap">
          <div style="background-image: url('img/superman.jpg')" class="news-item__image"></div>
        </div>
        <!--Content-->
        <div class="news-item__content">
          <div class="news-item__title">Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць</div>
          <div class="social-meta">
            <div class="social-meta__views">
              <svg class="social-meta__icon social-meta__icon--views">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-views"></use>
              </svg><span class="social-meta__count-views">223</span>
            </div>
            <div class="social-meta__comments">
              <svg class="social-meta__icon social-meta__icon--comments">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-comments"></use>
              </svg><span class="social-meta__count-comments">3</span>
            </div>
            <div class="social-meta__category">
              <svg class="social-meta__icon social-meta__icon--category">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-gestures"></use>
              </svg><span class="social-meta__name-category">Відео-інтерв'ю</span>
            </div>
          </div>
        </div>
        <!--Circle plus-->
        <svg class="news-item__circle">
          <line x1="18" y1="13" x2="18" y2="23" class="news-item__line-v"></line>
          <line x1="13" y1="18" x2="23" y2="18" class="news-item__line-h"></line>
        </svg>
      </div></a>
    <!--======================== NEWS ITEM SIMPLE ====================//--><a href="#">
      <div class="material news-item btn-click">
        <!--Photo-->
        <div class="news-item__image-wrap">
          <div style="background-image: url('img/superman.jpg')" class="news-item__image"></div>
        </div>
        <!--Content-->
        <div class="news-item__content">
          <div class="news-item__title">Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць</div>
          <div class="social-meta">
            <div class="social-meta__views">
              <svg class="social-meta__icon social-meta__icon--views">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-views"></use>
              </svg><span class="social-meta__count-views">223</span>
            </div>
            <div class="social-meta__comments">
              <svg class="social-meta__icon social-meta__icon--comments">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-comments"></use>
              </svg><span class="social-meta__count-comments">3</span>
            </div>
            <div class="social-meta__category">
              <svg class="social-meta__icon social-meta__icon--category">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-gestures"></use>
              </svg><span class="social-meta__name-category">Відео-інтерв'ю</span>
            </div>
          </div>
        </div>
        <!--Circle plus-->
        <svg class="news-item__circle">
          <line x1="18" y1="13" x2="18" y2="23" class="news-item__line-v"></line>
          <line x1="13" y1="18" x2="23" y2="18" class="news-item__line-h"></line>
        </svg>
      </div></a>
    <!--======================== NEWS ITEM SIMPLE ====================//--><a href="#">
      <div class="material news-item btn-click">
        <!--Photo-->
        <div class="news-item__image-wrap">
          <div style="background-image: url('img/superman.jpg')" class="news-item__image"></div>
        </div>
        <!--Content-->
        <div class="news-item__content">
          <div class="news-item__title">Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць</div>
          <div class="social-meta">
            <div class="social-meta__views">
              <svg class="social-meta__icon social-meta__icon--views">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-views"></use>
              </svg><span class="social-meta__count-views">223</span>
            </div>
            <div class="social-meta__comments">
              <svg class="social-meta__icon social-meta__icon--comments">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-comments"></use>
              </svg><span class="social-meta__count-comments">3</span>
            </div>
            <div class="social-meta__category">
              <svg class="social-meta__icon social-meta__icon--category">
                <use xlink:href="img/svg-sprites/sprite.svg#icon-gestures"></use>
              </svg><span class="social-meta__name-category">Відео-інтерв'ю</span>
            </div>
          </div>
        </div>
        <!--Circle plus-->
        <svg class="news-item__circle">
          <line x1="18" y1="13" x2="18" y2="23" class="news-item__line-v"></line>
          <line x1="13" y1="18" x2="23" y2="18" class="news-item__line-h"></line>
        </svg>
      </div></a>
  </section>
</section>
<script src="js/common.min.js"></script>
<script type="text/javascript">
  //- var headerModifier = "modal-header-wrap--scrolled",
  //-     header = $(".modal-header-wrap");
  //- $('.modaal-wrapper').on('scroll', function() {
  //-      if (this.scrollTop > 100) {
  //-        $(header).addClass(headerModifier);
  //-      } else {
  //-        $(header).removeClass(headerModifier);
  //-      }
  //- });
</script>