
<!-- |----------------------------------------------------|-->
<!-- |----------------- MODAL CONTAINER ------------------|-->
<!-- |----------------------------------------------------|-->
<section class="modal-container">
  <div class="news-item__title news-item__title--added-modal">Рекламодавцям</div>
  <!--LINE-->
  <hr size="1px" class="news-item__line"/>
  <div class="information-content"><span class="information-content__bold">Типовий Франківськ </span> володіє широкими рекламними можливостями - на нашому майданчику можна не тільки розміщувати банери, а й створювати різні спецпроекти. При цьому ми дійсно дбаємо про ефективність реклами, і завжди пропонуємо рішення, які працюють.
    <div class="information-content__mail">Ви можете відправити лист на  <a href="#" class="send-letter">typical@if</a></div><span class="information-content__bold">ТЕЛЕФОН РЕКЛАМНОГО ВІДДІЛУ +7 (499) 322-45-14.</span>
  </div>
</section>