
<!-- |----------------------------------------------------|-->
<!-- |----------------- MODAL CONTAINER ------------------|-->
<!-- |----------------------------------------------------|-->
<section class="modal-container">
  <div class="news-item__title news-item__title--added-modal">Зв'яжіться з нами</div>
  <!--LINE-->
  <hr size="1px" class="news-item__line"/>
  <div class="information-content">
    <div class="information-content__mail">Якщо у вас є питання, пропозиція або коментар про сайт, будь ласка, напишіть нам за адресою <a href="#" class="send-letter">typical@if</a></div><span class="information-content__bold">Редакция.</span>
    <div class="info-text">Ми вважаємо за краще спілкуватися поштою. Напишіть нам листа, і якщо воно здасться нам важливим, ми відповімо вам протягом двох-трьох днів. Якщо ваше запитання не можна вирішити поштою, до редакції можна зателефонувати.</div>
  </div>
</section>