@media #{$iPhone} {
    .blogs {
        width: 100%;
        margin: 0 auto;
    }
    //QUOTE
    .news-item__icon-quote {
        display: block;
        margin: 30px auto 20px auto;
        width: 35px;
        height: 35px;
        fill: $color-blue;
    }
    //======== BLOGS MODIFIERS ==================/
    .news-item--blogs {
        height: 430px;
        .news-item__image-wrap {
            width: 100%;
            position: absolute;
            height: 190px;
            bottom: 0;
        }
        .news-item__bloger-name {
            text-align: center;
            padding: 20px 0;
        }
        .news-item__image {
            margin: auto;
            width: 95px;
            height: 95px;
            border-radius: 100%;
        }
        .news-item__content {
            padding: 10px 50px;
            width: calc(100% - 100px);
        }
    }
} //END MEDIA
