@media #{$iPhone} {
    .search-count-wrap {
        margin: 75px auto;
        text-align: center;
        
    }
    .search-count {
        padding: 0 5px;
        font-family: $sansBold;
    }
    .search--content {
        display: none;
    }


    //NOT FOUND
    .not-found {
        display: none;
        width: 361px;
        position: relative;
        padding: 10px 0;
        margin: auto;
    }
    .not-found__text {
        text-align: center;
    }
    .not-found__image {
        margin: 20px 0;
        width: 361px;
        height: 361px;
    }
}
