@media #{$screen} {
    .view-more {
        margin: 30px auto;
    }
    .view-more:hover {
        width: 700px;
        transform: $transVFast;
        // box-shadow: inset 0 0 5px rgba(0,0,0,.1);
        .view-more__plus {
            transform: rotate(90deg);
        }
    }
}
