@media #{$iPhone} {
    // |----------------------------------------------------|
    // |--------------    VIEW MORE BUTTON   ---------------|
    // |----------------------------------------------------|
    .view-more {
        position: relative;
        cursor: pointer;
        height: 35px;
        width: 90%;
        max-width: 750px;
        margin: auto;
        background: $color-blue;
        border-radius: 50px;
        transition: $transFast;
    }

    .view-more__wrap {
        position: relative;
        width: 120px;
        margin: auto;
    }

    .view-more__text {
        float: left;
        padding: 8px 0;
        font-size: $small;
        color: $color-light;
    }

    //PLUS
    .view-more__plus {
        position: absolute;
        float: right;
        height: 35px;
        width: 35px;
        transition: $transFast;
    }
    .view-more__line-v,
    .view-more__line-h {
        stroke-width: 2px;
        stroke: $color-light;
    }



}
