//======================== NEWS ITEM SIMPLE ====================//
.material.news-item.news-item--modal
    //Content
    .news-item__content
        .modal-header-wrap
            .modal-header.clearfix
                //DATE WRAP
                .date
                    svg.date__icon
                        use(xlink:href="img/svg-sprites/sprite.svg#icon-clock")
                    span.date__text 4 квітня о 12:00
                //SOCIAL META
                .modal-header__social.social-meta
                    .social-meta__views
                        svg.social-meta__icon.social-meta__icon--views
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-views")
                        span.social-meta__count-views 223
                    .social-meta__comments
                        svg.social-meta__icon.social-meta__icon--comments
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-comments")
                        span.social-meta__count-comments 3
                    .social-meta__category
                        svg.social-meta__icon.social-meta__icon--category
                            use(xlink:href="img/svg-sprites/sprite.svg#icon-gestures")
                        span.social-meta__name-category Відео-інтерв'ю
                //SHARE
                .modal-header__share.social.js-social
                  .social__text-box.js-social-text-box
                    span.social__text.js-social-text Поділитися матеріалом
                  a(href="#")
                    svg.social__vk.js-social-vk
                      use(xlink:href="img/svg-sprites/sprite.svg#icon-vk")
                  a(href="#")
                    svg.social__insta.js-social-insta
                      use(xlink:href="img/svg-sprites/sprite.svg#icon-inst")
                  a(href="#")
                    svg.social__fb.js-social-fb
                      use(xlink:href="img/svg-sprites/sprite.svg#icon-fb")
        //TITLE
        .news-item__title Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць
        //LINE
        hr.news-item__line(size="1px")
        //SUBTITLE
        .news-item__subtitle Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць
        //PHOTO
        div(style="background-image: url('img/superman.jpg')").news-item__image
        
        //MAIN Content
        .news-item__main-content
            .news-item__content-items Дівчинка зізнається, що їй подобається рок-музика і вона вже рік опановує барабани. До музичної школи Катя не ходить, з викладачем індивідуально займалася лише чотири рази – а в основному тренується завдяки роликам на Ютубі. Дівчинка зізнається, що їй подобається рок-музика і вона вже рік опановує барабани. 
                //QOUTE
                a(href="#")
                    .news-item__quote.clearfix.material
                        div(style="background-image: url('img/superman.jpg')").news-item__quote-image
                        .news-item__quote-name Капітан Америка
                        svg.news-item__quote-icon
                          use(xlink:href="img/svg-sprites/sprite.svg#icon-icon")
                        .news-item__quote-text Чим старша людина, тим більше їй років
                | Дівчинка зізнається, що їй подобається рок-музика і вона вже рік опановує барабани. До музичної школи Катя не 
                //VIDEO
                iframe(width="100%" height="315" src="https://www.youtube.com/embed/vOAOAq_u2fw" frameborder="0" allowfullscreen).news-item__video
                | Дівчинка зізнається, що їй подобається рок-музика і вона вже рік опановує барабани. До музичної школи Катя не 
        //LINE
        hr.news-item__line(size="1px")
        
        //======================== COMMENTS ====================//
        .comments-header.clearfix
            .total-comments
                span 10
                |  коментарів
            a(href="#") 
                .category__link-wrap.category__link-wrap--comments
                    .category__go Показати всі
                    svg.category__plus
                        line(x1="13" y1="13" x2="13" y2="23").category__line-v
                        line(x1="8" y1="18" x2="18" y2="18").category__line-h
        .comment-wrap
            - for (var i=0; i<3; i++)
                .comment
                    .comment__image(style="background-image: url('img/superman.jpg')")
                    .comment__person
                        span.person__name Hulk
                        span.person__surname Hulkovich
                    .comment__content Xnjnjjn sdfsdijf psidjfpsid jf psjdp fsidj pfisjdpf ijsdf jspdifj psidfjpsdijf psdfij
                    .comment__footer.clearfix
                        //DATE WRAP
                        .date.date--comment
                            svg.date__icon
                                use(xlink:href="img/svg-sprites/sprite.svg#icon-clock")
                            span.date__text 4 квітня о 12:00
                        .comment__answer Відповісти
                        .likes-wrap
                            svg.like-minus
                                use(xlink:href="img/svg-sprites/sprite.svg#icon-minus")
                            svg.like-icon.like-icon--negative
                                use(xlink:href="img/svg-sprites/sprite.svg#icon-heart")
                            .like-count 0
                            svg.like-plus
                                use(xlink:href="img/svg-sprites/sprite.svg#icon-plus")
            //AUTH
            .auth.clearfix
                .auth__text Ви авторизовані
                svg.auth__soc
                  use(xlink:href="img/svg-sprites/sprite.svg#icon-vk")
                svg.auth__icon-ok
                  use(xlink:href="img/svg-sprites/sprite.svg#icon-mark")
            //SHARE
            .comment-auth.social.js-social--modal
              .social__text-box.js-social-text-box--modal
                span.social__text.js-social-text--modal Увійти за допомогою
              a(href="#")
                svg.social__vk.js-social-vk--modal
                  use(xlink:href="img/svg-sprites/sprite.svg#icon-vk")
              a(href="#")
                svg.social__insta.js-social-insta--modal
                  use(xlink:href="img/svg-sprites/sprite.svg#icon-inst")
              a(href="#")
                svg.social__fb.js-social-fb--modal
                  use(xlink:href="img/svg-sprites/sprite.svg#icon-fb")
            form(action="/").comment__form
                .comment__image.comment__image--profile(style="background-image: url('img/superman.jpg')")
                textarea.comment__textarea(placeholder="Додати коментар...")
                input(type="submit" value="Коментувати").comment__send

                            
                        
                    
