//colors
$color-bg: #f0f0f0;
$color-blue: #2ec4b6;
$color-dark: #333;
$color-dark-light: #444;
$color-dark-tr: rgba(#333333, 0.75);
$color-black: #000;
$color-light: #fff;
$color-light-tr: rgba(#fff, 0.2);
$color-negative: #cf3e3e;


//fonts
$sans: 'Open Sans';
$sansBold:'Open Sans Bold';
$sansItalic:'Open Sans Italic';
$sansBoldItalic:'Open Sans Bold Italic';
$serifBold:'PT Serif Bold', Georgia;

//font size
$small: 13px;
$medium: 14px;
$standart: 16px;
$large: 24px;
$very-large: 32px;

//transition
$transVFast: .15s ease-in-out;
$transFast: .25s ease-in-out;
$transNormal: .5s ease-in-out;
$transLong: .75s ease-in-out;

$transDelayLong: .75s;
$transDelayNormal: .5s;
$transDelayFast: .25s;

// |----------------------------------------------------|
// |-------------------   MIXINS     -------------------|
// |----------------------------------------------------|
@mixin circleBtn() {
  width: 35px;
  height: 35px;
  fill: $color-blue;
}

// |----------------------------------------------------|
// |--------------------MENU SECTION--------------------|
// |----------------------------------------------------|
$menuSmallWidth: 75px; //menu small width
$menuLargeWidth: 210px; //menu large width
$menu-shadow: 0 0px 5px rgba(0,0,0,0.55);


// |----------------------------------------------------|
// |-------------------SEARCH SECTION-------------------|
// |----------------------------------------------------|
$search-shadow: 0 2px 5px rgba(0,0,0,.15);


// |----------------------------------------------------|
// |-------------------    COMMENTS  -------------------|
// |----------------------------------------------------|
$showingAuth: none;
$showingReady: block;
