//========================BLOG ITEM====================//
.material.news-item.news-item--long.news-item--blogs.btn-click
    //Photo
    .news-item__image-wrap
        .news-item__bloger-name The Superman
        div(style="background-image: url('img/superman.jpg')").news-item__image        
    //Content
    svg.news-item__icon-quote
        use(xlink:href="img/svg-sprites/sprite.svg#icon-quote-circular")
    .news-item__content
        .news-item__title Captain America was my best friend until you betrayed me
        .social-meta
            .social-meta__views
                svg.social-meta__icon.social-meta__icon--views
                    use(xlink:href="img/svg-sprites/sprite.svg#icon-views")
                span.social-meta__count-views 223
            .social-meta__comments
                svg.social-meta__icon.social-meta__icon--comments
                    use(xlink:href="img/svg-sprites/sprite.svg#icon-comments")
                span.social-meta__count-comments 3
            .social-meta__category
                svg.social-meta__icon.social-meta__icon--category
                    use(xlink:href="img/svg-sprites/sprite.svg#icon-users")
                span.social-meta__name-category Блоги
