//======================== NEWS ITEM PHOTOREPORTS ====================//
.material.news-item.news-item--big.news-item--photo-video.btn-click
    //Photo
    .news-item__image-wrap
        div(style="background-image: url('img/iron-man.jpg')").news-item__image
        .news-item__overlay
        svg.news-item__icon-category 
            use(xlink:href="img/svg-sprites/sprite.svg#icon-photo-camera")
    //Content
    .news-item__content
        .news-item__title Фотозвіти
        .social-meta
            .social-meta__views
                svg.social-meta__icon.social-meta__icon--views
                    use(xlink:href="img/svg-sprites/sprite.svg#icon-views")
                span.social-meta__count-views 223
            .social-meta__comments
                svg.social-meta__icon.social-meta__icon--comments
                    use(xlink:href="img/svg-sprites/sprite.svg#icon-comments")
                span.social-meta__count-comments 3
            .social-meta__category
                svg.social-meta__icon.social-meta__icon--category
                    use(xlink:href="img/svg-sprites/sprite.svg#icon-photo1")
                span.social-meta__name-category Фотозвіти
