//======================== NEWS ITEM LONG+MIRROR  ====================//
.material.news-item.news-item--mirror.news-item--long.btn-click
    //Photo
    .news-item__image-wrap
        div(style="background-image: url('img/hulk.jpg')").news-item__image
    
    //Content
    .news-item__content

        .news-item__title Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць Семирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщицьСемирічна українка пробилася до фіналу всесвітнього конкурсу барабанщиць
        .social-meta
            .social-meta__views
                svg.social-meta__icon.social-meta__icon--views
                    use(xlink:href="img/svg-sprites/sprite.svg#icon-views")
                span.social-meta__count-views 223
            .social-meta__comments
                svg.social-meta__icon.social-meta__icon--comments
                    use(xlink:href="img/svg-sprites/sprite.svg#icon-comments")
                span.social-meta__count-comments 3
            .social-meta__category
                svg.social-meta__icon.social-meta__icon--category
                    use(xlink:href="img/svg-sprites/sprite.svg#icon-gestures")
                span.social-meta__name-category Відео-інтерв'ю
                
    //Circle plus
    svg.news-item__circle
        line(x1="18" y1="13" x2="18" y2="23").news-item__line-v
        line(x1="13" y1="18" x2="23" y2="18").news-item__line-h
