@media #{$phone} {
    // |----------------------------------------------------|
    // |--------------      COMMMMENTS!      ---------------|
    // |----------------------------------------------------|
    //FOOTER
    .comment__footer {
        margin-left: 67px;
    }
}
