@media #{$desktop} {

    // |----------------------------------------------------|
    // |--------------         ITEMS         ---------------|
    // |----------------------------------------------------|
    .news-item--modal {
        .news-item__image {
            height: 650px;
        }
        .news-item__subtitle,
        .news-item__title {
            max-width: 615px;
            margin: auto;
        }
        .news-item__title {
            margin-top: 35px;
        }
        .date {
            opacity: 0.5;
            float: left;
            margin: 5px 0 0 15px;
        }
        .social-meta {
            float: right;
            margin-right: 15px;
        }
        .modal-header__share {
            position: absolute;
            top: 10px;
            right: 0;
            left: 0;
            margin-top: 0;
        }
        // |----------------------------------------------------|
        // |--------------       MODAL HEADER    ---------------|
        // |----------------------------------------------------|
        //SHARE
        .social__fb,
        .social__insta,
        .social__vk {
            width: 35px;
            height: 35px;
        }
    }


    //BOTTOM
    .modal-buttom {
        width: calc(100% - 200px);
        margin: auto;
    }

    // |----------------------------------------------------|
    // |--------------        BLOGS MODIFIER ---------------|
    // |----------------------------------------------------|
    .news-item--blogs {
        .news-item__image--has-radius {
            border-radius: 50%;
            width: 100%;
            max-width: 615px;
            height: 615px;
        }
    }
}
//END MEDIA
