@media #{$screen} {
    .modaal-close {
        left: inherit;
        right: 40px;
        position: fixed;
        margin: 0;
        top: 20px;
        background: none !important;
        z-index: 9999;
    }
    .modaal-close:hover {
        background: $color-light !important;
    }
    .modaal-close:after,
    .modaal-close:before {
        background: $color-light;
    }
    // |----------------------------------------------------|
    // |--------------         NAVIGATION    ---------------|
    // |----------------------------------------------------|
    .navigation {
        z-index: 20;
    }
    .navigation-prev-wrap,
    .navigation-next-wrap {
        top: 0;
        position: fixed;
        height: 100%;
        padding: 0 40px;
        width: 100px;
        transition: $transVFast;
    }
    .navigation-next,
    .navigation-prev {
        top: 50%;
        position: fixed;
        background: none;
        border-radius: 0;
        width: 20px;
        height: 20px;
        fill: $color-light;
        z-index: 20;
        transition: $transVFast;

    }
    .navigation-next-wrap {
        right: 15px;
    }
    .navigation-next {
        right: 40px;
    }
    .navigation-prev {
        left: 25px;
    }

    .navigation-next-wrap:hover,
    .navigation-prev-wrap:hover {
        background: rgba(255,255,255,.05);
        .navigation-next,
        .navigation-prev {
            fill: $color-blue;
            // box-shadow: 0 0 10px $color-blue;
        }
    }

    //NAVIGATION MODIFIERS
    .navigation-next-wrap--hidden {
        transform: translateX(100%);
    }
    .navigation-prev-wrap--hidden {
        transform: translateX(-100%);
    }


    .news-item--modal {
        display: flex;
        flex-direction: column;
        //SHARE
        .social__fb,
        .social__insta,
        .social__vk {
            padding: 0 5px;
        }
        // |----------------------------------------------------|
        // |--------------      MENU FIXED       ---------------|
        // |----------------------------------------------------|
        .modal-header-wrap {
            position: absolute;
            background: transparent;
            width: 100%;
            left: 0;
            right: 0;
            margin: auto;
            flex: auto 0 0;
            max-width: 1000px;
            z-index: 30;
            transition: transform $transVFast;
            // transition: $transFast;
        }

        //SCROLLED MODIFIER
        .modal-header-wrap--scrolled {
            left: -17px;
            top: 0;
            background: $color-light;
            position: fixed;
            padding: 10px 20px;
            box-shadow: $search-shadow;
            border-radius: 5px;
        }
        .news-item__title {
            margin-top: 10px;
            padding-top: 50px;
        }
        .modal-header__share {
            top: 0;
        }
        .modal-header-wrap--hidden {
            transform: translateY(-100%);
        }
    }


    // |----------------------------------------------------|
    // |--------------      COMMMMENTS!      ---------------|
    // |----------------------------------------------------|
    .like-plus,
    .like-minus {
        visibility: hidden;
        opacity: 0;
        transition: $transVFast;
    }
    .like-icon {
        visibility: visible;
        opacity: 1;
        transition: $transVFast;
    }
    .likes-wrap:hover {
        .like-icon {
            visibility: hidden;
            opacity: 0;
        }
        .like-plus,
        .like-minus {
            visibility: visible;
            opacity: 1;
        }
    }
    .like-plus:hover,
    .like-minus:hover {
        fill: $color-blue;
    }
    .comment__answer:hover {
        opacity: .6;
    }




}
//END MEDIA
