@media #{$iPhone} {
    .close-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .modal-container {
        width: 95%;
        padding: 10px;
        border-radius: 5px;
        margin: 40px auto 0;
        max-width: 1000px;
        background: $color-light;
    }
    .modaal-inner-wrapper {
        padding: 0;
    }
    .modaal-content-container {
        padding: 50px 0 0;
    }
    .modaal-close {
        left: 0;
        right: 0;
        background: $color-light !important;
        position: absolute;
        margin: auto;
    }
    .modaal-close:after,
    .modaal-close:before {
        background: $color-blue;
    }
    // |----------------------------------------------------|
    // |--------------         ITEMS         ---------------|
    // |----------------------------------------------------|
    .news-item--modal {
        position: relative;
        float: none;
        width: 100%;
        height: 100%;
        // |----------------------------------------------------|
        // |--------------       MODAL HEADER    ---------------|
        // |----------------------------------------------------|

        .modal-header {
            width: 100%;
            max-width: 1000px;
            margin: auto;
            position: relative;
        }
        //DATE
        .date {
            opacity: 0.5;
            margin: 5px 0;
        }
        .date__icon {
            position: relative;
            width: 15px;
            top: 3px;
            height: 15px;
            display: inline-block;
        }
        .date__text {
            display: inline-block;
            margin-left: 5px;
            font-size: $small;
        }

        .social-meta__category {
            display: inline-block;
            margin-left: 10px;
        }
        .category__go {
            font-family: $sansBold;
        }
        //SHARE
        .modal-header__share {
            position: relative;
            margin-top: 10px;
        }
        .social__fb,
        .social__insta,
        .social__vk {
            width: 35px;
            height: 35px;
            padding: 10px 5px;
        }
        // |----------------------------------------------------|
        // |--------------      CONTENT    ---------------------|
        // |----------------------------------------------------|
        .news-item__image {
            width: 100%;
            height: 317px;
            margin-top: 10px;
        }
        .news-item__content {
            float: none;
            width: 100%;
            padding: 0;
        }
        .news-item__content:after {
            display: none;
        }
        .news-item__subtitle,
        .news-item__title {
            text-align: left;
        }
        .news-item__title {
            font-family: $serifBold;
            text-align: center;
            font-size: $large;
            padding: 10px 5px 0;
            max-height: 1000px;
        }
        .news-item__subtitle {
            font-size: $small;
            font-family: $serifBold;
            padding: 0 5px 10px;
        }
        .news-item__line {
            margin: 20px 0;
            opacity: 0.2;
        }

    }
    //NEWS ITEM HOVER
    .news-item--modal:hover {
        cursor: default;
        transform: none;
        box-shadow: none;
        .news-item__image {
            transform: none;
        }
    }
    // |----------------------------------------------------|
    // |--------------      MAIN CONTENT    ---------------|
    // |----------------------------------------------------|
    .news-item__main-content {
        max-width: 615px;
        margin: auto;
        padding: 20px 0 0;
        text-align: left;
    }
    // |----------------------------------------------------|
    // |--------------      NEWS ITEM QUOTE  ---------------|
    // |----------------------------------------------------|
    .news-item__quote {
        padding: 20px 20px;
        text-align: left;
        transition: $transVFast;
    }
    .news-item__quote-name {
        font-family: $sansBoldItalic;
        padding-left: 70px;
    }
    .news-item__quote-image {
        float: left;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
    }
    .news-item__quote-icon {
        display: inline;
        margin: 5px 5px 5px 15px;
        height: 15px;
        width: 15px;
        fill: $color-blue;
    }
    .news-item__quote-text {
        display: inline;
        margin: 5px 0;
        font-family: $sansItalic;
    }
    //VIDEO
    .news-item__video {
        margin: 20px 0;
    }
    // |----------------------------------------------------|
    // |--------------         NAVIGATION    ---------------|
    // |----------------------------------------------------|
    .navigation {
        z-index: 20;
    }
    .navigation-next,
    .navigation-prev {
        top: 20px;
        position: absolute;
        width: 20px;
        height: 20px;
        padding: 15px;
        border-radius: 50%;
        background: $color-light;
        fill: $color-blue;
        z-index: 20;
        transition: $transVFast;
        box-sizing: content-box;
    }
    .navigation-next {
        right: 20px;
    }
    .navigation-prev {
        left: 20px;
    }
    // |----------------------------------------------------|
    // |--------------         FOOTER        ---------------|
    // |----------------------------------------------------|
    .related-materials-title {
        color: #fff;
        font-family: $serifBold;
        font-size: $very-large;
        text-align: left;
    }
    //MASONRY GRID
    .related-materials {
        text-align: left;
        width: 100%;
        margin: 0 auto;
    }
    // |----------------------------------------------------|
    // |--------------     AUTH OK           ---------------|
    // |----------------------------------------------------|
    .auth {
        width: 100%;
        max-width: 200px;
        margin: auto;
        display: $showingReady;
    }
    .auth__text,
    .auth__soc,
    .auth__icon-ok {
        float: left;
    }
    .auth__text {
        padding: 8px 0;
        font-family: $sansBold;
        font-size: $small;
    }
    .auth__soc {
        width: 35px;
        height: 35px;
        fill: $color-blue;
        margin-left: 10px;
    }
    .auth__icon-ok {
        width: 15px;
        height: 15px;
        margin: 10px;
        opacity: .5;
    }

    // |----------------------------------------------------|
    // |--------------        BLOGS MODIFIER ---------------|
    // |----------------------------------------------------|
    .news-item--blogs {
        .news-item__image--has-radius {
            border-radius: 50%;
            width: 300px;
            height: 300px;
        }
    }
    // |----------------------------------------------------|
    // |--------------      COMMMMENTS!      ---------------|
    // |----------------------------------------------------|
    .comments-header {

    }
    .comment-auth {
        display: $showingAuth;
    }
    .category__link-wrap--comments {
        top: 0;
        float: right;
        padding-right: 10px;
    }
    .total-comments {
        font-size: $medium;
        float: left;
        padding: 9px 0 0 10px;
    }

    //ITEM
    .comment {
        width: 100%;
        max-width: 700px;
        position: relative;
        text-align: left;
        margin: 30px auto;
    }

    //person
    .comment__person {
        margin: 10px 0;
    }
    .comment__content {
        display: block;
    }
    .person__surname {
        margin-left: 5px;
    }

    .comment__person,
    .comment__answer {
        font-family: $sansBold;
        font-size: $small;
        transition: $transVFast;
    }


    //image
    .comment__image {
        width: 60px;
        height: 60px;
        background-position: center center;
        background-size: cover;
        border-radius: 50%;
        float: left;
        margin-right: 10px;
    }

    .likes-wrap {
        user-select: none;
    }
    //likes
    .like-plus,
    .like-minus,
    .like-icon  {
        width: 15px;
        height: 15px;
    }
    .like-plus,
    .like-minus {
        cursor: pointer;
    }

    //FOOTER
    .comment__footer {
        margin: 10px 10px 0 10px;
    }
    .date--comment,
    .comment__answer,
    .likes-wrap {
        float: left;
    }
    .date--comment {
        margin: 0 !important;
    }
    .comment__answer {
        color: $color-blue;
        cursor: pointer;
        margin: 3px 0 0 10px;
    }

    //likes-wrap
    .likes-wrap {
        margin-top: 3px;
    }
    .like-plus,
    .like-icon,
    .like-minus,
    .like-count {
        display: inline-block;
    }
    .like-icon {
        visibility: hidden;
    }
    .like-count {
        transform: translateY(-2px);
    }
    .like-minus {
        transform: translateX(20px);
    }

    //icon color
    .like-icon--possitive {
        fill: $color-blue;
    }
    .like-icon--negative {
        fill: $color-negative;
    }

    //TEXTAREA

    .comment__form {
        text-align: left;
        margin: 20px auto;
        width: 100%;
        max-width: 500px;
    }
    .comment__textarea {
        outline: none;
        border-radius: 5px;
        border: none;
        background: #f1f1f1;
        padding: 10px;
        text-align: left;
        height: 80px;
        width: calc(100% - 70px);
        resize: vertical;
        max-height: 500px;
        font-size: $small;
        transition: $transVFast;
    }
    .comment__image--profile {
        float: left;
    }
    .comment__textarea:focus {
        border: 1px solid $color-blue;
        background: none;
    }
    .comment__send {
        border: 0;
        display: block;
        margin: 10px auto;
        height: 35px;
        border-radius: 50px;
        padding: 0 30px;
        font-size: $small;
        background: $color-blue;
        color: $color-light;
        transition: $transVFast;
        cursor: pointer;
    }
    .comment__send:hover {
        padding: 0 20px;
    }


    //ADVERTISE / CONTACTS
    .news-item__title--added-modal {
        font-size: $large;
        margin: 20px 0;
    }
    .information-content {
        margin: 20px auto 80px auto;
        max-width: 600px;
        width: 100%;
        z-index: 99999;
    }
    .information-content__bold {
        font-family: $sansBold;
    }

    .information-content__mail {
        margin: 40px 0;
    }
    .send-letter {
        color: $color-blue;
        transition: $transVFast;
    }
    .send-letter:hover {
        opacity: .6;
    }

}
