// |----------------------------------------------------|
// |----------------- MODAL CONTAINER ------------------|
// |----------------------------------------------------|
section.modal-container
    .news-item__title.news-item__title--added-modal Рекламодавцям
    //LINE
    hr.news-item__line(size="1px")
    .information-content
        span.information-content__bold Типовий Франківськ 
        |  володіє широкими рекламними можливостями - на нашому майданчику можна не тільки розміщувати банери, а й створювати різні спецпроекти. При цьому ми дійсно дбаємо про ефективність реклами, і завжди пропонуємо рішення, які працюють.
        .information-content__mail Ви можете відправити лист на  
            a(href="#").send-letter typical@if
        span.information-content__bold ТЕЛЕФОН РЕКЛАМНОГО ВІДДІЛУ +7 (499) 322-45-14.
        
