// |----------------------------------------------------|
// |----------------- MODAL CONTAINER ------------------|
// |----------------------------------------------------|
section.close-overlay#modaal-close
section.navigation
    a(href="#")
        .navigation-prev-wrap
            svg.navigation-prev
                use(xlink:href="img/svg-sprites/sprite.svg#icon-left")
    a(href="#")
        .navigation-next-wrap
            svg.navigation-next
                use(xlink:href="img/svg-sprites/sprite.svg#icon-right")
section.modal-container
    include ../materials-modifiers/modals-content/in--blogs.jade

// |----------------- MODAL BOTTOM ---------------------|
section.modal-buttom
    section.related-news-title
        .container-fluid
            .row
                .col-lg-1
                .col-lg-10
                    h1.related-materials-title Схожі матеріали
                .col-lg-1
    section.related-materials  
        .material-sizer
        -for (var i=0; i<10; i++)  
            include ../materials-modifiers/modals-related/in--blogs.jade

script(src="js/common.min.js")
