// |----------------------------------------------------|
// |----------------- MODAL CONTAINER ------------------|
// |----------------------------------------------------|
section.modal-container
    .news-item__title.news-item__title--added-modal Зв'яжіться з нами
    //LINE
    hr.news-item__line(size="1px")
    .information-content
        .information-content__mail Якщо у вас є питання, пропозиція або коментар про сайт, будь ласка, напишіть нам за адресою 
            a(href="#").send-letter typical@if
        span.information-content__bold Редакция.
        .info-text Ми вважаємо за краще спілкуватися поштою. Напишіть нам листа, і якщо воно здасться нам важливим, ми відповімо вам протягом двох-трьох днів. Якщо ваше запитання не можна вирішити поштою, до редакції можна зателефонувати.
