@media #{$iPhone} {
    // |----------------------------------------------------|
    // |--------------         FOOTER        ---------------|
    // |----------------------------------------------------|
    .footer {
        margin: 20px auto 0;
        max-width: 1200px;
        text-align: center;
        z-index: 2;
        opacity: 0;
        transition: $transVFast;
    }

    .footer--loaded {
        opacity: 1;
    }

    //ELEMENTS > FOOTER
    .footer__text {
        font-size: $large;
        font-family: $sansBold;
    }
    // |----------------------------------------------------|
    // |--------------      LOGOS FOOTER     ---------------|
    // |----------------------------------------------------|
    .logo-wrap {
        margin: auto;
    }
    .logo--typical-foo {
        height: 80px;
        width: 80px;
    }
    .logo--yleaf {
        width: 20px;
        height: 20px;
        transition: $transFast;
        padding: 10px;
        &:hover {
            fill: $color-blue;
            transform: scale(1.1);
        }
    }

    // |----------------------------------------------------|
    // |--------------    TRANSPARENT LINE   ---------------|
    // |----------------------------------------------------|
    .transparent-line {
        width: 95%;
        margin: 10px auto;
        border-bottom: 1px solid $color-dark;
        opacity: 0.1;
    }
    // |----------------------------------------------------|
    // |--------------      SOCIAL BOX       ---------------|
    // |----------------------------------------------------|
    .social {
        margin: auto;
        font-size: $small;
        font-family: $sans;
    }

    //ELEMENTS > SOCIAL-BOX
    .social__text-box {
        width: 200px;
        padding: 0 0 10px;
        margin: auto;
    }
    .social__fb,
    .social__insta,
    .social__vk {
        box-sizing: content-box;
        padding: 0 5px;
        width: 35px;
        height: 35px;
        fill: $color-blue;
        transition: $transFast;
        &:hover {
            fill: $color-blue;
        }
    }
    // |----------------------------------------------------|
    // |--------------      CONTACT LINE     ---------------|
    // |----------------------------------------------------|
    .contact-line {
        font-size: $small;
        font-family: $sans;
        width: 150px;
        margin: 10px auto 0 auto;
    }

    //ELEMENTS > CONTACT-LINE
    .contact-line__advert,
    .contact-line__contacts {
        display: block;
        padding: 5px 10px;
        transition: $transFast;
        &:hover {
            color: $color-blue;
        }
    }
}
//END MEDIA
