@media #{$screen} {
    // |----------------------------------------------------|
    // |--------------      SOCIAL BOX       ---------------|
    // |----------------------------------------------------|
    .social {
        position: relative;
        transition: $transFast;
    }

    //ELEMENTS > SOCIAL-BOX
    .social__text-box {
        position: absolute;
        width: 100%;
        height: 35px;
        border-radius: 50px;
        background: $color-blue;
        padding: 0;
        margin: auto;
        left: 0;
        right: 0;
        color: $color-light;
        transition: $transFast;
        z-index: 2;
        &--hover {
            background: $color-dark;
            width: 35px;
            .social__text {
                opacity: 0;
                transition: opacity $transVFast;
            }
        }
    }
    .social__text {
        position: absolute;
        left: 0;
        right: 0;
        padding: 9px 0;
        margin: auto;
        transition: $transLong;
    }

    .social__fb {
        transform: translateX(-49px);
    }
    .social__vk {
        transform: translateX(49px);
    }
    .social__fb,
    .social__insta,
    .social__vk {
        fill: $color-dark;
    }

    .social__fb,
    .social__vk {
        &--moved {
            transform: translateX(0);
        }
    }
    // |----------------------------------------------------|
    // |--------------     LOGO HOVER        ---------------|
    // |----------------------------------------------------|
    .logo-wrap {
        height: 80px;
        width: 80px;
    }
    .logo--typical-foo {
        transition: $transVFast;
    }
    .logo-wrap:hover {
        .logo--typical-foo {
            transform: rotateY(180deg);
            fill: $color-blue;
        }
    }
    // |----------------------------------------------------|
    // |--------------     TRANSPARENT LINE  ---------------|
    // |----------------------------------------------------|
    .transparent-line {
        margin: 20px auto;
    }
}
//END MEDIA
