.page-title-wrap.clearfix
    .container-fluid
        .row
            .col-lg-10.col-lg-offset-1
                a(href="/")
                    .page-home 
                        .page-home__main Головна
                        svg.page-home__icon-arrow-right
                          use(xlink:href="img/svg-sprites/sprite.svg#icon-arrow-right2")
                .page-it Фотозвіти
