@media #{$screen} {
    // |----------------------------------------------------|
    // |--------------    MATERIALS HOVER  -----------------|
    // |----------------------------------------------------|
    .material {
        transition: $transVFast;
        overflow: hidden;
    }
    .news-item__image {
        transition: $transVFast;
    }
    .material:hover {
        transform: translateY(-4px);
        box-shadow: 0 15px 20px rgba(0,0,0,0.2);
        .news-item__image {
            transform: scale(1.05);
        }
    }
} //END MEDIA
